<div class="container-fluid">
    
    <div class="row-fluid">

        <div class="row-fluid">
            <form>
			    <fieldset>
			    	<legend>Create User</legend>
			    	<div class="row-fluid">
            			<div class="span5">
							<input type="text" id="inputEmail" placeholder="Name">
						</div>
						<div class="span4">
							<input type="text" id="inputEmail" placeholder="Email">
						</div>
						<div class="span4">  
						</div>
					</div>
					<div class="row-fluid">
            			<div class="span5">
							<input type="text" id="inputEmail" placeholder="Name">
						</div>
						<div class="span4">
							<input type="text" id="inputEmail" placeholder="Email">
						</div>
						<div class="span4">  
						</div>
					</div>

				    <button type="submit" class="btn">Submit</button>
			    </fieldset>
		    </form>
	    </div>
        <div class="row-fluid">
			<table class="table table-striped">
			    <caption>Some table</caption>
			    <thead>
				    <tr>
					    <th>Ratio</th>
					    <th>Type</th>
					    <th><input type="checkbox"></input></th>
				    </tr>
			    </thead>
				<tbody>
				    <tr>
					    <td>Plue</td>
					    <td>Minus</td>
					    <th><input type="checkbox"></input></th>
				    </tr>
			    </tbody>
		    </table>
	    </div>
    </div>
</div>
