<div id="page-container">
    <!-- navbar container-->
    <div id="navbar-container"></div>
    <!-- /navbar container-->

    <!-- subnavbar container-->
    <div id="subnavbar-container"></div> 
    <!-- navbar container-->

    <div class="main">
        <div class="main-inner">
            <div class="container-fluid">
              <div class="row-fluid">

                <!-- sidebar -->
                <div id="sidebar-container" class="span3"></div> 
                <!-- /sidebar -->

                <!-- content -->
                <div id="content-container" class="span9"></div> 
                <!-- / content -->

              </div> 
              <!-- /row -->
            </div> 
            <!-- /container -->
        </div> 
        <!-- /main-inner -->
    </div> 
    <!-- /main -->
    <!-- content -->
    <div id="footer-container"></div> 
    <!-- / content -->
</div>