<label for="geoBoundaryTypeSelect"><%= entities_strings.geoboundarytype %></label>
<select name="<%=relatedFieldName%>" id="geoBoundaryTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (geoBoundaryType) {
	%>
		<% if (selectedOption == geoBoundaryType.attributes.id) { %>
	<option value="<%=geoBoundaryType.id%>" selected="selected" ><%=geoBoundaryType.attributes.code%></option>
		<% } else {%>
	<option value="<%=geoBoundaryType.id%>" ><%=geoBoundaryType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>