#sidebar-container {
	width: 20%;	
	float:left;
	margin: 1px;
	padding: 1px;
}
#content-container {
	width: 79%;	
	float:right;
	margin: 1px;
	padding: 1px;
}

.widget-dashboard .widget-content {
  padding: 20px 15px 0px 15px;
  margin-bottom: 0;
}

.scrollable-main-content {
	overflow:scroll; 
	height:480px; 
}

.scrollable-sidebar-content {
	overflow:scroll; 
	height:240px;
}
.fieldblock {
	margin-top: 5px;
}
.field_required {
	border-color: rgb(149, 59, 57);
}
.hideextra { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }

.mail_compose input {
	width: 96%;
	display: block;
}
.mail_compose textarea {
	width: 96%;
	display: block;
}
.mail_compose select {
	width: 96%;
	display: block;
}
.editable {
    margin-top: 2px;
	display: block;
	border: solid #DCDCDC 1px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.editable div {
    height: 100%;
    padding: 2px;
	display: inline;
	text-decoration: underline;
}
.modal {
   width:960px;
   margin-left:-480px;
}

#customerModalBtnDiv {
	padding: 1px;
	margin: 1px;
}

#customerModalBtnDiv a {
	width: 85%;
}
#search-form-div {
	padding-left: 20px;
	padding-right: 20px;
}
#search-result-template-div {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.search_options{
	width:40px;
}