<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= partyrelationship ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-partyrelationship-form">
								    <fieldset>
								    	<legend><%= entities_strings.partyrelationship %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- partyRole. -->
												<div id="partyRoleSelectContainerDiv" class="span6">
	            								</div>
												<!-- partyRelationshipType. -->
												<div id="partyRelationshipTypeSelectContainerDiv" class="span6">
	            								</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (partyrelationship) { %>
												<!-- toRoleId. -->
						            			<div class="span6">
						            				<label for="toRoleId"><%= entities_strings.partyrelationship_toroleid %></label>
													<input type="text" id="toRoleId" value="<%= partyrelationship.get('toRoleId') ? partyrelationship.get('toRoleId') : '' %>" name="toRoleId" placeholder="<%= entities_strings.partyrelationship_toroleid %>">
												</div>		
												<% } else {%>
												<!-- toRoleId. -->
						            			<div class="span6">
						            				<label for="toRoleId"><%= entities_strings.partyrelationship_toroleid %></label>
													<input type="text" id="toRoleId" name="toRoleId" value="" placeholder="<%= entities_strings.partyrelationship_toroleid %>">
												</div>		
												<% } %>									
												<% if (partyrelationship) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.partyrelationship_code %></label>
													<input type="text" id="code" value="<%= partyrelationship.get('code') ? partyrelationship.get('code') : '' %>" name="code" placeholder="<%= entities_strings.partyrelationship_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.partyrelationship_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.partyrelationship_code %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (partyrelationship) { %>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.partyrelationship_name %></label>
													<input type="text" id="name" value="<%= partyrelationship.get('name') ? partyrelationship.get('name') : '' %>" name="name" placeholder="<%= entities_strings.partyrelationship_name %>">
												</div>		
												<% } else {%>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.partyrelationship_name %></label>
													<input type="text" id="name" name="name" value="" placeholder="<%= entities_strings.partyrelationship_name %>">
												</div>		
												<% } %>									
												<% if (partyrelationship) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.partyrelationship_description %></label>
													<input type="text" id="description" value="<%= partyrelationship.get('description') ? partyrelationship.get('description') : '' %>" name="description" placeholder="<%= entities_strings.partyrelationship_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.partyrelationship_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.partyrelationship_description %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (partyrelationship) { %>
												<!-- comment. -->
						            			<div class="span6">
						            				<label for="comment"><%= entities_strings.partyrelationship_comment %></label>
													<input type="text" id="comment" value="<%= partyrelationship.get('comment') ? partyrelationship.get('comment') : '' %>" name="comment" placeholder="<%= entities_strings.partyrelationship_comment %>">
												</div>		
												<% } else {%>
												<!-- comment. -->
						            			<div class="span6">
						            				<label for="comment"><%= entities_strings.partyrelationship_comment %></label>
													<input type="text" id="comment" name="comment" value="" placeholder="<%= entities_strings.partyrelationship_comment %>">
												</div>		
												<% } %>									
												<% if (partyrelationship) { %>
												<!-- fromDt. -->
						            			<div class="span6">
						            				<label for="fromDt"><%= entities_strings.partyrelationship_fromdt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="fromDt" name="fromDt" type="text" value="<%= partyrelationship.get('fromDt') ? partyrelationship.get('fromDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- fromDt. -->
						            			<div class="span6">
						            				<label for="fromDt"><%= entities_strings.partyrelationship_fromdt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="fromDt" name="fromDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (partyrelationship) { %>
												<!-- thruDt. -->
						            			<div class="span6">
						            				<label for="thruDt"><%= entities_strings.partyrelationship_thrudt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="thruDt" name="thruDt" type="text" value="<%= partyrelationship.get('thruDt') ? partyrelationship.get('thruDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- thruDt. -->
						            			<div class="span6">
						            				<label for="thruDt"><%= entities_strings.partyrelationship_thrudt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="thruDt" name="thruDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												<% if (partyrelationship) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.partyrelationship_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= partyrelationship.get('effectiveDt') ? partyrelationship.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.partyrelationship_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- recSt. -->
						            			<div class="span6">
						            				<label for="recSt"><%= entities_strings.partyrelationship_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
											<!-- communicationEvents. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="communicationEvents" placeholder="One to Many communicationEvents">
												</div>
											</div> -->
												
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-partyrelationship"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






