<label for="productClassificationSelect"><%= entities_strings.productclassification %></label>
<select name="<%=relatedFieldName%>" id="productClassificationSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productClassification) {
	%>
		<% if (selectedOption == productClassification.attributes.id) { %>
	<option value="<%=productClassification.id%>" selected="selected" ><%=productClassification.attributes.code%></option>
		<% } else {%>
	<option value="<%=productClassification.id%>" ><%=productClassification.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>