<label for="postalAddressSelect"><%= entities_strings.postaladdress %></label>
<select name="<%=relatedFieldName%>" id="postalAddressSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (postalAddress) {
	%>
		<% if (selectedOption == postalAddress.attributes.id) { %>
	<option value="<%=postalAddress.id%>" selected="selected" ><%=postalAddress.attributes.code%></option>
		<% } else {%>
	<option value="<%=postalAddress.id%>" ><%=postalAddress.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>