<label for="paymentTypeSelect"><%= entities_strings.paymenttype %></label>
<select name="<%=relatedFieldName%>" id="paymentTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (paymentType) {
	%>
		<% if (selectedOption == paymentType.attributes.id) { %>
	<option value="<%=paymentType.id%>" selected="selected" ><%=paymentType.attributes.code%></option>
		<% } else {%>
	<option value="<%=paymentType.id%>" ><%=paymentType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>