<label for="productOrderItemSelect"><%= entities_strings.productorderitem %></label>
<select name="<%=relatedFieldName%>" id="productOrderItemSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productOrderItem) {
	%>
		<% if (selectedOption == productOrderItem.attributes.id) { %>
	<option value="<%=productOrderItem.id%>" selected="selected" ><%=productOrderItem.attributes.code%></option>
		<% } else {%>
	<option value="<%=productOrderItem.id%>" ><%=productOrderItem.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>