<label for="contactMechanismLinkSelect"><%= entities_strings.contactmechanismlink %></label>
<select name="<%=relatedFieldName%>" id="contactMechanismLinkSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (contactMechanismLink) {
	%>
		<% if (selectedOption == contactMechanismLink.attributes.id) { %>
	<option value="<%=contactMechanismLink.id%>" selected="selected" ><%=contactMechanismLink.attributes.code%></option>
		<% } else {%>
	<option value="<%=contactMechanismLink.id%>" ><%=contactMechanismLink.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>