<label for="productOrderItemTypeSelect"><%= entities_strings.productorderitemtype %></label>
<select name="<%=relatedFieldName%>" id="productOrderItemTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productOrderItemType) {
	%>
		<% if (selectedOption == productOrderItemType.attributes.id) { %>
	<option value="<%=productOrderItemType.id%>" selected="selected" ><%=productOrderItemType.attributes.code%></option>
		<% } else {%>
	<option value="<%=productOrderItemType.id%>" ><%=productOrderItemType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>