<label for="communicationEventTypeSelect"><%= entities_strings.communicationeventtype %></label>
<select name="<%=relatedFieldName%>" id="communicationEventTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (communicationEventType) {
	%>
		<% if (selectedOption == communicationEventType.attributes.id) { %>
	<option value="<%=communicationEventType.id%>" selected="selected" ><%=communicationEventType.attributes.code%></option>
		<% } else {%>
	<option value="<%=communicationEventType.id%>" ><%=communicationEventType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>