<label for="communicationEventTypeSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="communicationEventTypeSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (communicationEventType) {
	%>
		<% if (selectedOption == communicationEventType.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=communicationEventType.id%>" selected="selected" >
					<%=communicationEventType.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=communicationEventType.attributes.code%>" selected="selected" >
					<%=communicationEventType.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=communicationEventType.id%>" ><%=communicationEventType.attributes.code%></option>
			<% } else {%>
				<option value="<%=communicationEventType.attributes.code%>" ><%=communicationEventType.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
