<label for="productSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="productSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (product) {
	%>
		<% if (selectedOption == product.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=product.id%>" selected="selected" >
					<%=product.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=product.attributes.code%>" selected="selected" >
					<%=product.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=product.id%>" ><%=product.attributes.code%></option>
			<% } else {%>
				<option value="<%=product.attributes.code%>" ><%=product.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
