<label for="contactMechanismTypeSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="contactMechanismTypeSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (contactMechanismType) {
	%>
		<% if (selectedOption == contactMechanismType.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=contactMechanismType.id%>" selected="selected" >
					<%=contactMechanismType.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=contactMechanismType.attributes.code%>" selected="selected" >
					<%=contactMechanismType.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=contactMechanismType.id%>" ><%=contactMechanismType.attributes.code%></option>
			<% } else {%>
				<option value="<%=contactMechanismType.attributes.code%>" ><%=contactMechanismType.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
