<label for="partyRoleSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="partyRoleSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (partyRole) {
	%>
		<% if (selectedOption == partyRole.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=partyRole.id%>" selected="selected" >
					<%=partyRole.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=partyRole.attributes.code%>" selected="selected" >
					<%=partyRole.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=partyRole.id%>" ><%=partyRole.attributes.code%></option>
			<% } else {%>
				<option value="<%=partyRole.attributes.code%>" ><%=partyRole.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
