<!-- Menu Page -->

    
<!-- Header -->
<div data-role="header"> 
    <h1>Main Menu</h1> 
    <a data-role="button" data-icon="home" href="">Log out</a>
</div> 

<!-- Content -->
<div data-role="content"> 
    <ul id="listOfItems" data-role="listview" data-inset="true" data-filter="false"> 
        <li><a href="#product-order-create" rel="external">New Order</a></li> 
        <li><a href="#product-orders">Order Enquiries</a></li> 
        <li><a href="#payment-create">Process Payment</a></li> 
        <li><a href="#messages">Messages</a></li> 
        <li><a href="#edit-outbound-message">Contact Account Manager</a></li> 
    </ul> 
</div> 

<!-- Footer -->
<div data-role="footer"> 
    <h4>http://www.nathanclaire.com/</h4> 
</div> 