<label for="productOrderItemTypeSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="productOrderItemTypeSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (productOrderItemType) {
	%>
		<% if (selectedOption == productOrderItemType.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=productOrderItemType.id%>" selected="selected" >
					<%=productOrderItemType.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=productOrderItemType.attributes.code%>" selected="selected" >
					<%=productOrderItemType.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=productOrderItemType.id%>" ><%=productOrderItemType.attributes.code%></option>
			<% } else {%>
				<option value="<%=productOrderItemType.attributes.code%>" ><%=productOrderItemType.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
