<label for="communicationEventSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="communicationEventSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (communicationEvent) {
	%>
		<% if (selectedOption == communicationEvent.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=communicationEvent.id%>" selected="selected" >
					<%=communicationEvent.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=communicationEvent.attributes.code%>" selected="selected" >
					<%=communicationEvent.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=communicationEvent.id%>" ><%=communicationEvent.attributes.code%></option>
			<% } else {%>
				<option value="<%=communicationEvent.attributes.code%>" ><%=communicationEvent.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
