<label for="communicationEventSelect"><%= entities_strings.communicationevent %></label>
<select name="<%=relatedFieldName%>" id="communicationEventSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (communicationEvent) {
	%>
		<% if (selectedOption == communicationEvent.attributes.id) { %>
	<option value="<%=communicationEvent.id%>" selected="selected" ><%=communicationEvent.attributes.code%></option>
		<% } else {%>
	<option value="<%=communicationEvent.id%>" ><%=communicationEvent.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>