<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= entity ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-communicationevent-form">
								    <fieldset>
								    	<legend><%= entities_strings.communicationevent %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- communicationEventType. -->
												<div id="communicationEventTypeSelectContainerDiv" class="span6">
	            								</div>
												<!-- communicationEventPurpose. -->
												<div id="communicationEventPurposeSelectContainerDiv" class="span6">
	            								</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- contactMechanismType. -->
												<div id="contactMechanismTypeSelectContainerDiv" class="span6">
	            								</div>
												<!-- partyRelationship. -->
												<div id="partyRelationshipSelectContainerDiv" class="span6">
	            								</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- communicationEventStatusType. -->
												<div id="communicationEventStatusTypeSelectContainerDiv" class="span6">
	            								</div>
												<% if (entity) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.communicationevent_description %></label>
													<input type="text" id="description" value="<%= entity.get('description') ? entity.get('description') : '' %>" name="description" placeholder="<%= entities_strings.communicationevent_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.communicationevent_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.communicationevent_description %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- fromEmail. -->
						            			<div class="span6">
						            				<label for="fromEmail"><%= entities_strings.communicationevent_fromemail %></label>
													<input type="text" id="fromEmail" value="<%= entity.get('fromEmail') ? entity.get('fromEmail') : '' %>" name="fromEmail" placeholder="<%= entities_strings.communicationevent_fromemail %>">
												</div>		
												<% } else {%>
												<!-- fromEmail. -->
						            			<div class="span6">
						            				<label for="fromEmail"><%= entities_strings.communicationevent_fromemail %></label>
													<input type="text" id="fromEmail" name="fromEmail" value="" placeholder="<%= entities_strings.communicationevent_fromemail %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- toEmail. -->
						            			<div class="span6">
						            				<label for="toEmail"><%= entities_strings.communicationevent_toemail %></label>
													<input type="text" id="toEmail" value="<%= entity.get('toEmail') ? entity.get('toEmail') : '' %>" name="toEmail" placeholder="<%= entities_strings.communicationevent_toemail %>">
												</div>		
												<% } else {%>
												<!-- toEmail. -->
						            			<div class="span6">
						            				<label for="toEmail"><%= entities_strings.communicationevent_toemail %></label>
													<input type="text" id="toEmail" name="toEmail" value="" placeholder="<%= entities_strings.communicationevent_toemail %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- fromPhone. -->
						            			<div class="span6">
						            				<label for="fromPhone"><%= entities_strings.communicationevent_fromphone %></label>
													<input type="text" id="fromPhone" value="<%= entity.get('fromPhone') ? entity.get('fromPhone') : '' %>" name="fromPhone" placeholder="<%= entities_strings.communicationevent_fromphone %>">
												</div>		
												<% } else {%>
												<!-- fromPhone. -->
						            			<div class="span6">
						            				<label for="fromPhone"><%= entities_strings.communicationevent_fromphone %></label>
													<input type="text" id="fromPhone" name="fromPhone" value="" placeholder="<%= entities_strings.communicationevent_fromphone %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- toPhone. -->
						            			<div class="span6">
						            				<label for="toPhone"><%= entities_strings.communicationevent_tophone %></label>
													<input type="text" id="toPhone" value="<%= entity.get('toPhone') ? entity.get('toPhone') : '' %>" name="toPhone" placeholder="<%= entities_strings.communicationevent_tophone %>">
												</div>		
												<% } else {%>
												<!-- toPhone. -->
						            			<div class="span6">
						            				<label for="toPhone"><%= entities_strings.communicationevent_tophone %></label>
													<input type="text" id="toPhone" name="toPhone" value="" placeholder="<%= entities_strings.communicationevent_tophone %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- subject. -->
						            			<div class="span6">
						            				<label for="subject"><%= entities_strings.communicationevent_subject %></label>
													<input type="text" id="subject" value="<%= entity.get('subject') ? entity.get('subject') : '' %>" name="subject" placeholder="<%= entities_strings.communicationevent_subject %>">
												</div>		
												<% } else {%>
												<!-- subject. -->
						            			<div class="span6">
						            				<label for="subject"><%= entities_strings.communicationevent_subject %></label>
													<input type="text" id="subject" name="subject" value="" placeholder="<%= entities_strings.communicationevent_subject %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- content. -->
						            			<div class="span6">
						            				<label for="content"><%= entities_strings.communicationevent_content %></label>
													<input type="text" id="content" value="<%= entity.get('content') ? entity.get('content') : '' %>" name="content" placeholder="<%= entities_strings.communicationevent_content %>">
												</div>		
												<% } else {%>
												<!-- content. -->
						            			<div class="span6">
						            				<label for="content"><%= entities_strings.communicationevent_content %></label>
													<input type="text" id="content" name="content" value="" placeholder="<%= entities_strings.communicationevent_content %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- startDate. -->
						            			<div class="span6">
						            				<label for="startDate"><%= entities_strings.communicationevent_startdate %></label>
													<input type="text" id="startDate" value="<%= entity.get('startDate') ? entity.get('startDate') : '' %>" name="startDate" placeholder="<%= entities_strings.communicationevent_startdate %>">
												</div>		
												<% } else {%>
												<!-- startDate. -->
						            			<div class="span6">
						            				<label for="startDate"><%= entities_strings.communicationevent_startdate %></label>
													<input type="text" id="startDate" name="startDate" value="" placeholder="<%= entities_strings.communicationevent_startdate %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- endDate. -->
						            			<div class="span6">
						            				<label for="endDate"><%= entities_strings.communicationevent_enddate %></label>
													<input type="text" id="endDate" value="<%= entity.get('endDate') ? entity.get('endDate') : '' %>" name="endDate" placeholder="<%= entities_strings.communicationevent_enddate %>">
												</div>		
												<% } else {%>
												<!-- endDate. -->
						            			<div class="span6">
						            				<label for="endDate"><%= entities_strings.communicationevent_enddate %></label>
													<input type="text" id="endDate" name="endDate" value="" placeholder="<%= entities_strings.communicationevent_enddate %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- partyCases. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="partyCases" placeholder="One to Many partyCases">
												</div>
											</div> -->
											<!-- communicationEventWorkEfforts. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="communicationEventWorkEfforts" placeholder="One to Many communicationEventWorkEfforts">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.communicationevent_code %></label>
													<input type="text" id="code" value="<%= entity.get('code') ? entity.get('code') : '' %>" name="code" placeholder="<%= entities_strings.communicationevent_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.communicationevent_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.communicationevent_code %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.communicationevent_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= entity.get('effectiveDt') ? entity.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.communicationevent_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
												<!-- recSt. -->
						            			<div class="span12">
						            				<label for="recSt"><%= entities_strings.communicationevent_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-communicationevent"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






