<label for="productComponentSelect"><%= entities_strings.productcomponent %></label>
<select name="<%=relatedFieldName%>" id="productComponentSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productComponent) {
	%>
		<% if (selectedOption == productComponent.attributes.id) { %>
	<option value="<%=productComponent.id%>" selected="selected" ><%=productComponent.attributes.code%></option>
		<% } else {%>
	<option value="<%=productComponent.id%>" ><%=productComponent.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>