<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= productorderitem ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-productorderitem-form">
								    <fieldset>
								    	<legend><%= entities_strings.productorderitem %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- productOrderItemType. -->
												<div id="productOrderItemTypeSelectContainerDiv" class="span6">
	            								</div>
												<!-- productOrder. -->
												<div id="productOrderSelectContainerDiv" class="span6">
	            								</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- product. -->
												<div id="productSelectContainerDiv" class="span6">
	            								</div>
												<!-- productFeature. -->
												<div id="productFeatureSelectContainerDiv" class="span6">
	            								</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (productorderitem) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.productorderitem_code %></label>
													<input type="text" id="code" value="<%= productorderitem.get('code') ? productorderitem.get('code') : '' %>" name="code" placeholder="<%= entities_strings.productorderitem_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.productorderitem_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.productorderitem_code %>">
												</div>		
												<% } %>									
												<% if (productorderitem) { %>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.productorderitem_name %></label>
													<input type="text" id="name" value="<%= productorderitem.get('name') ? productorderitem.get('name') : '' %>" name="name" placeholder="<%= entities_strings.productorderitem_name %>">
												</div>		
												<% } else {%>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.productorderitem_name %></label>
													<input type="text" id="name" name="name" value="" placeholder="<%= entities_strings.productorderitem_name %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (productorderitem) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.productorderitem_description %></label>
													<input type="text" id="description" value="<%= productorderitem.get('description') ? productorderitem.get('description') : '' %>" name="description" placeholder="<%= entities_strings.productorderitem_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.productorderitem_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.productorderitem_description %>">
												</div>		
												<% } %>									
												<% if (productorderitem) { %>
												<!-- quantity. -->
						            			<div class="span6">
						            				<label for="quantity"><%= entities_strings.productorderitem_quantity %></label>
													<input type="text" id="quantity" value="<%= productorderitem.get('quantity') ? productorderitem.get('quantity') : '' %>" name="quantity" placeholder="<%= entities_strings.productorderitem_quantity %>">
												</div>		
												<% } else {%>
												<!-- quantity. -->
						            			<div class="span6">
						            				<label for="quantity"><%= entities_strings.productorderitem_quantity %></label>
													<input type="text" id="quantity" name="quantity" value="" placeholder="<%= entities_strings.productorderitem_quantity %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (productorderitem) { %>
												<!-- unitPrice. -->
						            			<div class="span6">
						            				<label for="unitPrice"><%= entities_strings.productorderitem_unitprice %></label>
													<input type="text" id="unitPrice" value="<%= productorderitem.get('unitPrice') ? productorderitem.get('unitPrice') : '' %>" name="unitPrice" placeholder="<%= entities_strings.productorderitem_unitprice %>">
												</div>		
												<% } else {%>
												<!-- unitPrice. -->
						            			<div class="span6">
						            				<label for="unitPrice"><%= entities_strings.productorderitem_unitprice %></label>
													<input type="text" id="unitPrice" name="unitPrice" value="" placeholder="<%= entities_strings.productorderitem_unitprice %>">
												</div>		
												<% } %>									
												<% if (productorderitem) { %>
												<!-- expectDeliveryDt. -->
						            			<div class="span6">
						            				<label for="expectDeliveryDt"><%= entities_strings.productorderitem_expectdeliverydt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="expectDeliveryDt" name="expectDeliveryDt" type="text" value="<%= productorderitem.get('expectDeliveryDt') ? productorderitem.get('expectDeliveryDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- expectDeliveryDt. -->
						            			<div class="span6">
						            				<label for="expectDeliveryDt"><%= entities_strings.productorderitem_expectdeliverydt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="expectDeliveryDt" name="expectDeliveryDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (productorderitem) { %>
												<!-- instructions. -->
						            			<div class="span6">
						            				<label for="instructions"><%= entities_strings.productorderitem_instructions %></label>
													<input type="text" id="instructions" value="<%= productorderitem.get('instructions') ? productorderitem.get('instructions') : '' %>" name="instructions" placeholder="<%= entities_strings.productorderitem_instructions %>">
												</div>		
												<% } else {%>
												<!-- instructions. -->
						            			<div class="span6">
						            				<label for="instructions"><%= entities_strings.productorderitem_instructions %></label>
													<input type="text" id="instructions" name="instructions" value="" placeholder="<%= entities_strings.productorderitem_instructions %>">
												</div>		
												<% } %>									
												<% if (productorderitem) { %>
												<!-- remarks. -->
						            			<div class="span6">
						            				<label for="remarks"><%= entities_strings.productorderitem_remarks %></label>
													<input type="text" id="remarks" value="<%= productorderitem.get('remarks') ? productorderitem.get('remarks') : '' %>" name="remarks" placeholder="<%= entities_strings.productorderitem_remarks %>">
												</div>		
												<% } else {%>
												<!-- remarks. -->
						            			<div class="span6">
						            				<label for="remarks"><%= entities_strings.productorderitem_remarks %></label>
													<input type="text" id="remarks" name="remarks" value="" placeholder="<%= entities_strings.productorderitem_remarks %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (productorderitem) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.productorderitem_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= productorderitem.get('effectiveDt') ? productorderitem.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.productorderitem_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												<!-- recSt. -->
						            			<div class="span6">
						            				<label for="recSt"><%= entities_strings.productorderitem_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
											<!-- orderItemBillings. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="orderItemBillings" placeholder="One to Many orderItemBillings">
												</div>
											</div> -->
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-productorderitem"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






