<label for="communicationEventPurposeTypeSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="communicationEventPurposeTypeSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (communicationEventPurposeType) {
	%>
		<% if (selectedOption == communicationEventPurposeType.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=communicationEventPurposeType.id%>" selected="selected" >
					<%=communicationEventPurposeType.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=communicationEventPurposeType.attributes.code%>" selected="selected" >
					<%=communicationEventPurposeType.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=communicationEventPurposeType.id%>" ><%=communicationEventPurposeType.attributes.code%></option>
			<% } else {%>
				<option value="<%=communicationEventPurposeType.attributes.code%>" ><%=communicationEventPurposeType.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
