<label for="geoBoundryAssociationSelect"><%= entities_strings.geoboundryassociation %></label>
<select name="<%=relatedFieldName%>" id="geoBoundryAssociationSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (geoBoundryAssociation) {
	%>
		<% if (selectedOption == geoBoundryAssociation.attributes.id) { %>
	<option value="<%=geoBoundryAssociation.id%>" selected="selected" ><%=geoBoundryAssociation.attributes.code%></option>
		<% } else {%>
	<option value="<%=geoBoundryAssociation.id%>" ><%=geoBoundryAssociation.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>