<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= paymentmethodtype ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-paymentmethodtype-form">
								    <fieldset>
								    	<legend><%= entities_strings.paymentmethodtype %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (paymentmethodtype) { %>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.paymentmethodtype_name %></label>
													<input type="text" id="name" value="<%= paymentmethodtype.get('name') ? paymentmethodtype.get('name') : '' %>" name="name" placeholder="<%= entities_strings.paymentmethodtype_name %>">
												</div>		
												<% } else {%>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.paymentmethodtype_name %></label>
													<input type="text" id="name" name="name" value="" placeholder="<%= entities_strings.paymentmethodtype_name %>">
												</div>		
												<% } %>									
												<% if (paymentmethodtype) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.paymentmethodtype_description %></label>
													<input type="text" id="description" value="<%= paymentmethodtype.get('description') ? paymentmethodtype.get('description') : '' %>" name="description" placeholder="<%= entities_strings.paymentmethodtype_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.paymentmethodtype_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.paymentmethodtype_description %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- payments. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="payments" placeholder="One to Many payments">
												</div>
											</div> -->
											<!-- paymentMethodTypeProviders. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="paymentMethodTypeProviders" placeholder="One to Many paymentMethodTypeProviders">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (paymentmethodtype) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.paymentmethodtype_code %></label>
													<input type="text" id="code" value="<%= paymentmethodtype.get('code') ? paymentmethodtype.get('code') : '' %>" name="code" placeholder="<%= entities_strings.paymentmethodtype_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.paymentmethodtype_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.paymentmethodtype_code %>">
												</div>		
												<% } %>									
												<% if (paymentmethodtype) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.paymentmethodtype_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= paymentmethodtype.get('effectiveDt') ? paymentmethodtype.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.paymentmethodtype_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
												<!-- recSt. -->
						            			<div class="span12">
						            				<label for="recSt"><%= entities_strings.paymentmethodtype_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-paymentmethodtype"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






