<label for="organizationSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="organizationSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (organization) {
	%>
		<% if (selectedOption == organization.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=organization.id%>" selected="selected" >
					<%=organization.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=organization.attributes.code%>" selected="selected" >
					<%=organization.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=organization.id%>" ><%=organization.attributes.code%></option>
			<% } else {%>
				<option value="<%=organization.attributes.code%>" ><%=organization.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
