<div id="entity-search-dialog" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= entities_strings.activity %> <%= entities_strings.alantra_label_search %></h3>
    </div>
    <div class="scrollable-main-content">
        <div id="search-form-div">
            <form id="edit-activity-form">
                        <!--  <legend><%= form.name %></legend>
                        Loop over field blocks in form -->
                        <br>
                        <% _.each(form.fieldBlocks, function (fieldBlock) { %>
                        <div class="row-fluid fieldblock">
                        <!-- Loop over fields in field block -->
                        <% _.each(fieldBlock.fields, function (field) { %>
                            <!-- Code field -->
                            <% if  (field.fieldInfo.applicationEntityFieldTypeText == "ID") { %>
                            <!-- <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>">
                            </div>  -->
                            <% } else if  (field.fieldInfo.applicationEntityFieldTypeText == "CODE") { %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>" class="input-medium  <%= field.fieldClassName %>">
                            </div> 
                            <!-- Name field -->
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "NAME") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>" class="input-medium <%= field.fieldClassName %>"> 
                            </div>  
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "TEXT") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>" class="input-large <%= field.fieldClassName %>">
                            </div> 
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "STATUS") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <select id="<%= field.fieldInfo.name %>" name="<%= field.fieldInfo.name %>" class="<%= field.fieldClassName %>">
                                    <option value="A">Active</option>
                                    <option value="I">Inactive</option>
                                </select>
                            </div>   
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "CHAR") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>" class="input-small <%= field.fieldClassName %>">
                            </div>    
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "NUMBER") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>" class="input-small <%= field.fieldClassName %>">
                            </div>  
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "CURRENCY") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>" class="input-medium <%= field.fieldClassName %>">
                            </div>       
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "DECIMAL") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>" class="input-medium <%= field.fieldClassName %>">
                            </div>   
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "BOOLEAN") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <input type="text" id="<%= field.fieldInfo.name %>" value="<%= field.fieldValue ? field.fieldValue : '' %>" name="<%= field.fieldInfo.name %>" placeholder="<%= field.fieldInfo.name %>" class="input-small <%= field.fieldClassName %>">
                            </div>    
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "DATE") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <div class="input-append date form_date" data-date-format="dd-mm-yyyy">
                                    <input id="<%= field.fieldInfo.name %>"  name="<%= field.fieldInfo.name %>" size="16" type="text" value="<%= field.fieldValue ? field.fieldValue : '' %>" readonly class="input-small  <%= field.fieldClassName %>">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "DATETIME") {  %>
                            <div class="span4">
                                <label for="<%= field.fieldInfo.name %>"><%= field.fieldInfo.description %></label>
                                <div class="input-append date form_datetime" >
                                    <input size="16" type="text" value="<%= field.fieldValue ? field.fieldValue : '' %>" readonly class="input-medium <%= field.fieldClassName %>">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <% } else if (field.fieldInfo.applicationEntityFieldTypeText == "RELATIONSHIP") {  %>
                            <div id="<%= field.fieldInfo.name %>SelectContainerDiv" class="span4">
                                <label for="<%= field.fieldInfo.name %>Id"><%= field.fieldInfo.description %></label>
                                <select name="<%=field.fieldInfo.name%>Id" id="field.fieldInfo.nameId" class="<%= field.fieldClassName %>">
                                    <option value=""></option>
                                <%
                                _.each(field.listOptions, function (option) {
                                %>
                                    <% if (field.fieldValue == option.id) { %>
                                    <option value="<%=option.id%>" selected="selected"><%=option.name%></option>
                                    <% } else {%>
                                    <option value="<%=option.id%>"><%=option.name%></option>
                                    <% } %>
                                <% }); %>
                                </select>
                                <a class="lookup_field" href="<%= field.fieldInfo.name %>">Change</a>
                            </div>
                            <% } %>
                        <% }); %> <!-- End row for each -->  
                        </div> 
                        <% }); %>   <!-- End field block for each --> 
                        <div class="form-actions">
							<a id="do-related-entity-search-btn" href="#" class="search-btn btn btn-primary">Search</a>
						</div>
                        
                        <div class="span12">
                                
                        </div>  
            </form>
        </div>

        <div id="search-result-div">
        </div>

    </div>
    <div class="modal-footer">
        <!-- <a id="do-customer-search-btn" href="#" class="btn btn-primary">Search</a>
        <a id="close-entity-search-dialog-btn" href="#" class="btn">Close</a> -->
    </div>
</div>