	<table class="table table-bordered table-striped table-highlight">
            
           <thead>
               <tr>   
               <th><input class="select-all-list-items" type="checkbox"></th>
           <%
           _.each(listFields, function (field) {
           %>  
               <% if  (field.fieldName == "id") { %> 
               <% } else if  (field.fieldName == "lastModifiedDt") { %>
               <% } else if  (field.fieldName == "lastModifiedUsr") { %>
               <% } else if  (field.fieldName == "createdDt") { %>
               <% } else { %> 
                   <th>
                       <div class="hideextra" style="width:150px"><%=field.fieldName%></div>
                   </th>  
               <% }  %>

           <% }); %>                           
               </tr>
           </thead> 

   
           <tbody>
          <%
        _.each(listData, function (dataRow) {
        %>     
        <tr>
               <td class="description">
               	<input class="entity-list-item" type="checkbox" value="">
               </td> 
               <%
               _.each(listFields, function (field) {
               %>     
	               <%
	               _.each(dataRow.dataValues, function (dataValue, index) {
	               %>     
	               		<% if  (field.fieldName == index) { %> 
			               <% if  (field.fieldName == "id") { %> 
			               <% } else if  (field.fieldName == "lastModifiedDt") { %>
			               <% } else if  (field.fieldName == "lastModifiedUsr") { %>
               			   <% } else if  (field.fieldName == "createdDt") { %>
			               <% } else { %> 
			                   <td class="td-actions">
			                        <div class="hideextra" style="width:150px">
			                            <a href="#view/<%=linkURL%>/">
			                                <%= dataValue ? dataValue : '' %>
			                            </a>
			                        </div>
			                    </td>   
			               <% }  %>
			           <% }  %>     
		          <% }); %>  
               <% }); %>  
           </tr>  
        <% }); %>                      
       	</tbody>
   	</table>