<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>Table</h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form>
								    <fieldset>
								    	<legend>BusinessUnit</legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- department. -->
												<div id="departmentSelectContainerDiv" class="span6">
	            								</div>
												<!-- code. -->
						            			<div class="span6">
													<input type="text" id="code" placeholder="code">
												</div>								
												
												
												
												
												
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- buNo. -->
						            			<div class="span6">
													<input type="text" id="buNo" placeholder="buNo">
												</div>								
												<!-- buNm. -->
						            			<div class="span6">
													<input type="text" id="buNm" placeholder="buNm">
												</div>								
												
												
												
												
												
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- buDesc. -->
						            			<div class="span6">
													<input type="text" id="buDesc" placeholder="buDesc">
												</div>								
												<!-- effectiveDt. -->
						            			<div class="span6">
													<input type="text" id="effectiveDt" placeholder="effectiveDt">
												</div>								
												
												
												
												
												
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- recSt. -->
						            			<div class="span6">
						            				<select id="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												<!-- versionNo. -->
						            			<div class="span6">
													<input type="text" id="versionNo" placeholder="versionNo">
												</div>								
												
												
												
												
												
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- rowTs. -->
						            			<div class="span6">
													<input type="text" id="rowTs" placeholder="rowTs">
												</div>								
												<!-- createdDt. -->
						            			<div class="span6">
													<input type="text" id="createdDt" placeholder="createdDt">
												</div>								
												
												
												
												
												
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- createdByUsr. -->
						            			<div class="span6">
													<input type="text" id="createdByUsr" placeholder="createdByUsr">
												</div>								
												<!-- lastModifiedDt. -->
						            			<div class="span6">
													<input type="text" id="lastModifiedDt" placeholder="lastModifiedDt">
												</div>								
												
												
												
												
												
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
												<!-- lastModifiedUsr. -->
						            			<div class="span12">
													<input type="text" id="lastModifiedUsr" placeholder="lastModifiedUsr">
												</div>								
												
												
												
												
												
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary">Submit</button>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->





