
<div class="widget widget-table action-table">
                            
    <div class="widget-header">
        <i class="icon-th-list"></i>
        <h3>View <%= form.businessObjectName %></h3>
    </div> <!-- /widget-header -->
    
    <div class="widget-content scrollable-main-content">
        <div class="container-fluid form-container">
            <form id="entity-view-form">
			    <fieldset>
			    	<!--  <legend><%= form.name %></legend>
                        Loop over field blocks in form -->
                        <br>
                        <% _.each(form.fieldBlocks, function (fieldBlock) { %>
                        <div class="row-fluid fieldblock">
                        <!-- Loop over fields in field block -->
                        <% _.each(fieldBlock.fields, function (field) { %>
                            <!-- Code field -->
                            <% if  (field.fieldData.fieldDataType == "ID") { %>
                            <!-- <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldName %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>">
                            </div>  -->
                            <% } else if  (field.fieldData.fieldDataType == "CODE") { %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-medium  <%= field.fieldCSSClassName %>">
                            </div> 
                            <!-- Name field -->
                            <% } else if (field.fieldData.fieldDataType == "NAME") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-medium <%= field.fieldCSSClassName %>"> 
                            </div>  
                            <% } else if (field.fieldData.fieldDataType == "TEXT") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-large <%= field.fieldCSSClassName %>">
                            </div> 
                            <% } else if (field.fieldData.fieldDataType == "STATUS") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <select id="<%= field.fieldData.fieldName %>" name="<%= field.fieldData.fieldName %>" class="<%= field.fieldCSSClassName %>">
                                    <option value="A">Active</option>
                                    <option value="I">Inactive</option>
                                </select>
                            </div>   
                            <% } else if (field.fieldData.fieldDataType == "CHAR") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-small <%= field.fieldCSSClassName %>">
                            </div>    
                            <% } else if (field.fieldData.fieldDataType == "NUMBER") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-small <%= field.fieldCSSClassName %>">
                            </div>  
                            <% } else if (field.fieldData.fieldDataType == "CURRENCY") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-medium <%= field.fieldCSSClassName %>">
                            </div>       
                            <% } else if (field.fieldData.fieldDataType == "DECIMAL") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-medium <%= field.fieldCSSClassName %>">
                            </div>   
                            <% } else if (field.fieldData.fieldDataType == "BOOLEAN") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-small <%= field.fieldCSSClassName %>">
                            </div>    
                            <% } else if (field.fieldData.fieldDataType == "DATE") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <div class="input-append date form_date" data-date-format="dd-mm-yyyy">
                                    <input id="<%= field.fieldData.fieldName %>"  name="<%= field.fieldData.fieldName %>" size="16" type="text" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" readonly class="input-small  <%= field.fieldCSSClassName %>">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <% } else if (field.fieldData.fieldDataType == "DATETIME") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <div class="input-append date form_datetime" >
                                    <input size="16" type="text" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" readonly class="input-medium <%= field.fieldCSSClassName %>">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <% } else if (field.fieldData.fieldDataType == "RELATIONSHIP") {  %>
                            <div id="<%= field.fieldData.fieldName %>SelectContainerDiv" class="span6">
                                <label for="<%= field.fieldData.fieldName %>Id"><%= field.fieldData.fieldDescription %></label>
                                <select name="<%=field.fieldData.fieldName%>Id" id="<%=field.fieldData.fieldName%>Id" class="<%= field.fieldCSSClassName %>">
                                    <option value=""></option>
                                <%
                                _.each(field.fieldData.listOption, function (option) {
                                %>
                                    <% if (field.fieldData.fieldValue == option.id) { %>
                                    <option value="<%=option.id%>" selected="selected"><%=option.name%></option>
                                    <% } else {%>
                                    <!-- <option value="<%=option.id%>"><%=option.name%></option> -->
                                    <% } %>
                                <% }); %>
                                </select>
                                <a class="lookup_field" href="<%= field.fieldData.fieldName %>">Change</a>
                            </div>
                            <% } %>
                        <% }); %> <!-- End row for each -->  
                        </div> 
                        <% }); %>   <!-- End field block for each -->
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><%=entities_strings.alantra_label_edit %></button>
						<a id="entity-view-done-btn" class="btn" href="#"><%=entities_strings.alantra_label_done %></a>
					</div>

				</fieldset>
		    </form>
	    </div> <!-- /form container -->
        
    </div> <!-- /widget-content -->

</div> <!-- /widget -->

<div id="entity-search-dialog-div"></div>






