<label for="hostTypeSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="hostTypeSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (hostType) {
	%>
		<% if (selectedOption == hostType.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=hostType.id%>" selected="selected" >
					<%=hostType.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=hostType.attributes.code%>" selected="selected" >
					<%=hostType.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=hostType.id%>" ><%=hostType.attributes.code%></option>
			<% } else {%>
				<option value="<%=hostType.attributes.code%>" ><%=hostType.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
