<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= entity ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-advice-form">
								    <fieldset>
								    	<legend><%= entities_strings.advice %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- party. -->
												<div id="partySelectContainerDiv" class="span6">
	            								</div>
												<!-- adviceStatus. -->
												<div id="adviceStatusSelectContainerDiv" class="span6">
	            								</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- communicationEvent. -->
												<div id="communicationEventSelectContainerDiv" class="span6">
	            								</div>
												<!-- adviceType. -->
												<div id="adviceTypeSelectContainerDiv" class="span6">
	            								</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.advice_name %></label>
													<input type="text" id="name" value="<%= entity.get('name') ? entity.get('name') : '' %>" name="name" placeholder="<%= entities_strings.advice_name %>">
												</div>		
												<% } else {%>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.advice_name %></label>
													<input type="text" id="name" name="name" value="" placeholder="<%= entities_strings.advice_name %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.advice_description %></label>
													<input type="text" id="description" value="<%= entity.get('description') ? entity.get('description') : '' %>" name="description" placeholder="<%= entities_strings.advice_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.advice_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.advice_description %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- adviceTxt. -->
						            			<div class="span6">
						            				<label for="adviceTxt"><%= entities_strings.advice_advicetxt %></label>
													<input type="text" id="adviceTxt" value="<%= entity.get('adviceTxt') ? entity.get('adviceTxt') : '' %>" name="adviceTxt" placeholder="<%= entities_strings.advice_advicetxt %>">
												</div>		
												<% } else {%>
												<!-- adviceTxt. -->
						            			<div class="span6">
						            				<label for="adviceTxt"><%= entities_strings.advice_advicetxt %></label>
													<input type="text" id="adviceTxt" name="adviceTxt" value="" placeholder="<%= entities_strings.advice_advicetxt %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- accountNo. -->
						            			<div class="span6">
						            				<label for="accountNo"><%= entities_strings.advice_accountno %></label>
													<input type="text" id="accountNo" value="<%= entity.get('accountNo') ? entity.get('accountNo') : '' %>" name="accountNo" placeholder="<%= entities_strings.advice_accountno %>">
												</div>		
												<% } else {%>
												<!-- accountNo. -->
						            			<div class="span6">
						            				<label for="accountNo"><%= entities_strings.advice_accountno %></label>
													<input type="text" id="accountNo" name="accountNo" value="" placeholder="<%= entities_strings.advice_accountno %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.advice_code %></label>
													<input type="text" id="code" value="<%= entity.get('code') ? entity.get('code') : '' %>" name="code" placeholder="<%= entities_strings.advice_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.advice_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.advice_code %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.advice_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= entity.get('effectiveDt') ? entity.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.advice_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
												<!-- recSt. -->
						            			<div class="span12">
						            				<label for="recSt"><%= entities_strings.advice_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-advice"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






