<label for="productOrderTypeSelect"><%= entities_strings.productordertype %></label>
<select name="<%=relatedFieldName%>" id="productOrderTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productOrderType) {
	%>
		<% if (selectedOption == productOrderType.attributes.id) { %>
	<option value="<%=productOrderType.id%>" selected="selected" ><%=productOrderType.attributes.code%></option>
		<% } else {%>
	<option value="<%=productOrderType.id%>" ><%=productOrderType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>