<label for="billingAccountRoleSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="billingAccountRoleSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (billingAccountRole) {
	%>
		<% if (selectedOption == billingAccountRole.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=billingAccountRole.id%>" selected="selected" >
					<%=billingAccountRole.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=billingAccountRole.attributes.code%>" selected="selected" >
					<%=billingAccountRole.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=billingAccountRole.id%>" ><%=billingAccountRole.attributes.code%></option>
			<% } else {%>
				<option value="<%=billingAccountRole.attributes.code%>" ><%=billingAccountRole.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
