<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= organization ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-organization-form">
								    <fieldset>
								    	<legend><%= entities_strings.organization %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- party. -->
												<div id="partySelectContainerDiv" class="span6">
	            								</div>
												<% if (organization) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.organization_code %></label>
													<input type="text" id="code" value="<%= organization.get('code') ? organization.get('code') : '' %>" name="code" placeholder="<%= entities_strings.organization_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.organization_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.organization_code %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (organization) { %>
												<!-- taxIdNo. -->
						            			<div class="span6">
						            				<label for="taxIdNo"><%= entities_strings.organization_taxidno %></label>
													<input type="text" id="taxIdNo" value="<%= organization.get('taxIdNo') ? organization.get('taxIdNo') : '' %>" name="taxIdNo" placeholder="<%= entities_strings.organization_taxidno %>">
												</div>		
												<% } else {%>
												<!-- taxIdNo. -->
						            			<div class="span6">
						            				<label for="taxIdNo"><%= entities_strings.organization_taxidno %></label>
													<input type="text" id="taxIdNo" name="taxIdNo" value="" placeholder="<%= entities_strings.organization_taxidno %>">
												</div>		
												<% } %>									
												<% if (organization) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.organization_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= organization.get('effectiveDt') ? organization.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.organization_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
												<!-- recSt. -->
						            			<div class="span12">
						            				<label for="recSt"><%= entities_strings.organization_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-organization"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






