<label for="organizationSelect"><%= entities_strings.organization %></label>
<select name="<%=relatedFieldName%>" id="organizationSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (organization) {
	%>
		<% if (selectedOption == organization.attributes.id) { %>
	<option value="<%=organization.id%>" selected="selected" ><%=organization.attributes.code%></option>
		<% } else {%>
	<option value="<%=organization.id%>" ><%=organization.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>