<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= billingaccount ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-billingaccount-form">
								    <fieldset>
								    	<legend><%= entities_strings.billingaccount %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (billingaccount) { %>
												<!-- contMechId. -->
						            			<div class="span6">
						            				<label for="contMechId"><%= entities_strings.billingaccount_contmechid %></label>
													<input type="text" id="contMechId" value="<%= billingaccount.get('contMechId') ? billingaccount.get('contMechId') : '' %>" name="contMechId" placeholder="<%= entities_strings.billingaccount_contmechid %>">
												</div>		
												<% } else {%>
												<!-- contMechId. -->
						            			<div class="span6">
						            				<label for="contMechId"><%= entities_strings.billingaccount_contmechid %></label>
													<input type="text" id="contMechId" name="contMechId" value="" placeholder="<%= entities_strings.billingaccount_contmechid %>">
												</div>		
												<% } %>									
												<% if (billingaccount) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.billingaccount_code %></label>
													<input type="text" id="code" value="<%= billingaccount.get('code') ? billingaccount.get('code') : '' %>" name="code" placeholder="<%= entities_strings.billingaccount_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.billingaccount_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.billingaccount_code %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (billingaccount) { %>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.billingaccount_name %></label>
													<input type="text" id="name" value="<%= billingaccount.get('name') ? billingaccount.get('name') : '' %>" name="name" placeholder="<%= entities_strings.billingaccount_name %>">
												</div>		
												<% } else {%>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.billingaccount_name %></label>
													<input type="text" id="name" name="name" value="" placeholder="<%= entities_strings.billingaccount_name %>">
												</div>		
												<% } %>									
												<% if (billingaccount) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.billingaccount_description %></label>
													<input type="text" id="description" value="<%= billingaccount.get('description') ? billingaccount.get('description') : '' %>" name="description" placeholder="<%= entities_strings.billingaccount_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.billingaccount_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.billingaccount_description %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (billingaccount) { %>
												<!-- fromDt. -->
						            			<div class="span6">
						            				<label for="fromDt"><%= entities_strings.billingaccount_fromdt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="fromDt" name="fromDt" type="text" value="<%= billingaccount.get('fromDt') ? billingaccount.get('fromDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- fromDt. -->
						            			<div class="span6">
						            				<label for="fromDt"><%= entities_strings.billingaccount_fromdt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="fromDt" name="fromDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												<% if (billingaccount) { %>
												<!-- thruDt. -->
						            			<div class="span6">
						            				<label for="thruDt"><%= entities_strings.billingaccount_thrudt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="thruDt" name="thruDt" type="text" value="<%= billingaccount.get('thruDt') ? billingaccount.get('thruDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- thruDt. -->
						            			<div class="span6">
						            				<label for="thruDt"><%= entities_strings.billingaccount_thrudt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="thruDt" name="thruDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (billingaccount) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.billingaccount_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= billingaccount.get('effectiveDt') ? billingaccount.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.billingaccount_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												<!-- recSt. -->
						            			<div class="span6">
						            				<label for="recSt"><%= entities_strings.billingaccount_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- billingAccountRoles. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="billingAccountRoles" placeholder="One to Many billingAccountRoles">
												</div>
											</div> -->
											<!-- paymentApplications. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="paymentApplications" placeholder="One to Many paymentApplications">
												</div>
											</div> -->
												
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-billingaccount"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






