<label for="partyClassificationTypeSelect"><%= entities_strings.partyclassificationtype %></label>
<select name="<%=relatedFieldName%>" id="partyClassificationTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (partyClassificationType) {
	%>
		<% if (selectedOption == partyClassificationType.attributes.id) { %>
	<option value="<%=partyClassificationType.id%>" selected="selected" ><%=partyClassificationType.attributes.code%></option>
		<% } else {%>
	<option value="<%=partyClassificationType.id%>" ><%=partyClassificationType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>