<label for="invoiceRoleTypeSelect"><%= entities_strings.invoiceroletype %></label>
<select name="<%=relatedFieldName%>" id="invoiceRoleTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (invoiceRoleType) {
	%>
		<% if (selectedOption == invoiceRoleType.attributes.id) { %>
	<option value="<%=invoiceRoleType.id%>" selected="selected" ><%=invoiceRoleType.attributes.code%></option>
		<% } else {%>
	<option value="<%=invoiceRoleType.id%>" ><%=invoiceRoleType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>