<label for="productTypeSelect"><%= entities_strings.producttype %></label>
<select name="<%=relatedFieldName%>" id="productTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productType) {
	%>
		<% if (selectedOption == productType.attributes.id) { %>
	<option value="<%=productType.id%>" selected="selected" ><%=productType.attributes.code%></option>
		<% } else {%>
	<option value="<%=productType.id%>" ><%=productType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>