<!-- Header -->
<div data-role="header">
    <a data-role="button" data-icon="home" href="#">Home</a>
    <h3>Product Orders</h3>
    <a data-role="button" data-icon="home" href="#">Log out</a>
</div>
<!-- Content -->
<div data-role="content" id='productOrderListContainerDiv'>
    <ul id='productOrderList' data-role='listview' data-inset="true" data-filter='true' data-filter-placeholder='Enter order code ...'>
        <%
        _.each(model.models, function (productOrder) {
        %>
        <li>
            <a href="#edit-product-order/"><%=productOrder.attributes.prodOrdNm%></a>
        </li>
        <% }); %>
    </ul>
</div>
<!-- Footer -->
<div data-role="footer"> 
    <h4>http://www.nathanclaire.com/</h4> 
</div>
