<label for="electronicAddressSelect"><%= entities_strings.electronicaddress %></label>
<select name="<%=relatedFieldName%>" id="electronicAddressSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (electronicAddress) {
	%>
		<% if (selectedOption == electronicAddress.attributes.id) { %>
	<option value="<%=electronicAddress.id%>" selected="selected" ><%=electronicAddress.attributes.code%></option>
		<% } else {%>
	<option value="<%=electronicAddress.id%>" ><%=electronicAddress.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>