<label for="serviceChannelSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="serviceChannelSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (serviceChannel) {
	%>
		<% if (selectedOption == serviceChannel.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=serviceChannel.id%>" selected="selected" >
					<%=serviceChannel.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=serviceChannel.attributes.code%>" selected="selected" >
					<%=serviceChannel.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=serviceChannel.id%>" ><%=serviceChannel.attributes.code%></option>
			<% } else {%>
				<option value="<%=serviceChannel.attributes.code%>" ><%=serviceChannel.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
