<label for="productCategoryTypeSelect"><%= entities_strings.productcategorytype %></label>
<select name="<%=relatedFieldName%>" id="productCategoryTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productCategoryType) {
	%>
		<% if (selectedOption == productCategoryType.attributes.id) { %>
	<option value="<%=productCategoryType.id%>" selected="selected" ><%=productCategoryType.attributes.code%></option>
		<% } else {%>
	<option value="<%=productCategoryType.id%>" ><%=productCategoryType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>