<label for="invoiceTermSelect"><%= entities_strings.invoiceterm %></label>
<select name="<%=relatedFieldName%>" id="invoiceTermSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (invoiceTerm) {
	%>
		<% if (selectedOption == invoiceTerm.attributes.id) { %>
	<option value="<%=invoiceTerm.id%>" selected="selected" ><%=invoiceTerm.attributes.code%></option>
		<% } else {%>
	<option value="<%=invoiceTerm.id%>" ><%=invoiceTerm.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>