<label for="partyRelationshipSelect"><%= entities_strings.partyrelationship %></label>
<select name="<%=relatedFieldName%>" id="partyRelationshipSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (partyRelationship) {
	%>
		<% if (selectedOption == partyRelationship.attributes.id) { %>
	<option value="<%=partyRelationship.id%>" selected="selected" ><%=partyRelationship.attributes.code%></option>
		<% } else {%>
	<option value="<%=partyRelationship.id%>" ><%=partyRelationship.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>