<label for="invoiceSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="invoiceSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (invoice) {
	%>
		<% if (selectedOption == invoice.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=invoice.id%>" selected="selected" >
					<%=invoice.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=invoice.attributes.code%>" selected="selected" >
					<%=invoice.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=invoice.id%>" ><%=invoice.attributes.code%></option>
			<% } else {%>
				<option value="<%=invoice.attributes.code%>" ><%=invoice.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
