<label for="orderItemBillingSelect"><%= entities_strings.orderitembilling %></label>
<select name="<%=relatedFieldName%>" id="orderItemBillingSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (orderItemBilling) {
	%>
		<% if (selectedOption == orderItemBilling.attributes.id) { %>
	<option value="<%=orderItemBilling.id%>" selected="selected" ><%=orderItemBilling.attributes.code%></option>
		<% } else {%>
	<option value="<%=orderItemBilling.id%>" ><%=orderItemBilling.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>