<label for="paymentApplicationSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="paymentApplicationSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (paymentApplication) {
	%>
		<% if (selectedOption == paymentApplication.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=paymentApplication.id%>" selected="selected" >
					<%=paymentApplication.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=paymentApplication.attributes.code%>" selected="selected" >
					<%=paymentApplication.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=paymentApplication.id%>" ><%=paymentApplication.attributes.code%></option>
			<% } else {%>
				<option value="<%=paymentApplication.attributes.code%>" ><%=paymentApplication.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
