<label for="paymentApplicationSelect"><%= entities_strings.paymentapplication %></label>
<select name="<%=relatedFieldName%>" id="paymentApplicationSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (paymentApplication) {
	%>
		<% if (selectedOption == paymentApplication.attributes.id) { %>
	<option value="<%=paymentApplication.id%>" selected="selected" ><%=paymentApplication.attributes.code%></option>
		<% } else {%>
	<option value="<%=paymentApplication.id%>" ><%=paymentApplication.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>