<label for="costComponentTypeSelect"><%= entities_strings.costcomponenttype %></label>
<select name="<%=relatedFieldName%>" id="costComponentTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (costComponentType) {
	%>
		<% if (selectedOption == costComponentType.attributes.id) { %>
	<option value="<%=costComponentType.id%>" selected="selected" ><%=costComponentType.attributes.code%></option>
		<% } else {%>
	<option value="<%=costComponentType.id%>" ><%=costComponentType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>