<label for="caseRoleTypeSelect"><%= entities_strings.caseroletype %></label>
<select name="<%=relatedFieldName%>" id="caseRoleTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (caseRoleType) {
	%>
		<% if (selectedOption == caseRoleType.attributes.id) { %>
	<option value="<%=caseRoleType.id%>" selected="selected" ><%=caseRoleType.attributes.code%></option>
		<% } else {%>
	<option value="<%=caseRoleType.id%>" ><%=caseRoleType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>