<label for="partyContactMechanismSelect"><%= entities_strings.partycontactmechanism %></label>
<select name="<%=relatedFieldName%>" id="partyContactMechanismSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (partyContactMechanism) {
	%>
		<% if (selectedOption == partyContactMechanism.attributes.id) { %>
	<option value="<%=partyContactMechanism.id%>" selected="selected" ><%=partyContactMechanism.attributes.code%></option>
		<% } else {%>
	<option value="<%=partyContactMechanism.id%>" ><%=partyContactMechanism.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>