<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= entity ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-party-form">
								    <fieldset>
								    	<legend><%= entities_strings.party %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- partyType. -->
												<div id="partyTypeSelectContainerDiv" class="span6">
	            								</div>
												<% if (entity) { %>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.party_name %></label>
													<input type="text" id="name" value="<%= entity.get('name') ? entity.get('name') : '' %>" name="name" placeholder="<%= entities_strings.party_name %>">
												</div>		
												<% } else {%>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.party_name %></label>
													<input type="text" id="name" name="name" value="" placeholder="<%= entities_strings.party_name %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.party_description %></label>
													<input type="text" id="description" value="<%= entity.get('description') ? entity.get('description') : '' %>" name="description" placeholder="<%= entities_strings.party_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.party_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.party_description %>">
												</div>		
												<% } %>									
											<!-- customers. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="customers" placeholder="One to Many customers">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- partyClassifications. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="partyClassifications" placeholder="One to Many partyClassifications">
												</div>
											</div> -->
											<!-- partyRoles. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="partyRoles" placeholder="One to Many partyRoles">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- persons. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="persons" placeholder="One to Many persons">
												</div>
											</div> -->
											<!-- caseRoles. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="caseRoles" placeholder="One to Many caseRoles">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- paymentMethodTypeProviders. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="paymentMethodTypeProviders" placeholder="One to Many paymentMethodTypeProviders">
												</div>
											</div> -->
											<!-- partyContactMechanisms. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="partyContactMechanisms" placeholder="One to Many partyContactMechanisms">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- billingAccountRoles. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="billingAccountRoles" placeholder="One to Many billingAccountRoles">
												</div>
											</div> -->
											<!-- organizations. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="organizations" placeholder="One to Many organizations">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- invoiceRoles. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="invoiceRoles" placeholder="One to Many invoiceRoles">
												</div>
											</div> -->
											<!-- paymentsForToPartyId. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="paymentsForToPartyId" placeholder="One to Many paymentsForToPartyId">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- paymentsForFromPartyId. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="paymentsForFromPartyId" placeholder="One to Many paymentsForFromPartyId">
												</div>
											</div> -->
											<!-- invoicesForFromPartyId. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="invoicesForFromPartyId" placeholder="One to Many invoicesForFromPartyId">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
											<!-- invoicesForToPartyId. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="invoicesForToPartyId" placeholder="One to Many invoicesForToPartyId">
												</div>
											</div> -->
											<!-- customerBlacklists. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="customerBlacklists" placeholder="One to Many customerBlacklists">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.party_code %></label>
													<input type="text" id="code" value="<%= entity.get('code') ? entity.get('code') : '' %>" name="code" placeholder="<%= entities_strings.party_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.party_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.party_code %>">
												</div>		
												<% } %>									
												<% if (entity) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.party_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= entity.get('effectiveDt') ? entity.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.party_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
												<!-- recSt. -->
						            			<div class="span12">
						            				<label for="recSt"><%= entities_strings.party_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-party"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






