<label for="communicationEventWorkEffortSelect"><%= entities_strings.communicationeventworkeffort %></label>
<select name="<%=relatedFieldName%>" id="communicationEventWorkEffortSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (communicationEventWorkEffort) {
	%>
		<% if (selectedOption == communicationEventWorkEffort.attributes.id) { %>
	<option value="<%=communicationEventWorkEffort.id%>" selected="selected" ><%=communicationEventWorkEffort.attributes.code%></option>
		<% } else {%>
	<option value="<%=communicationEventWorkEffort.id%>" ><%=communicationEventWorkEffort.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>