<label for="invoiceItemSelect"><%= entities_strings.invoiceitem %></label>
<select name="<%=relatedFieldName%>" id="invoiceItemSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (invoiceItem) {
	%>
		<% if (selectedOption == invoiceItem.attributes.id) { %>
	<option value="<%=invoiceItem.id%>" selected="selected" ><%=invoiceItem.attributes.code%></option>
		<% } else {%>
	<option value="<%=invoiceItem.id%>" ><%=invoiceItem.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>