<label for="billingAccountRoleTypeSelect"><%= entities_strings.billingaccountroletype %></label>
<select name="<%=relatedFieldName%>" id="billingAccountRoleTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (billingAccountRoleType) {
	%>
		<% if (selectedOption == billingAccountRoleType.attributes.id) { %>
	<option value="<%=billingAccountRoleType.id%>" selected="selected" ><%=billingAccountRoleType.attributes.code%></option>
		<% } else {%>
	<option value="<%=billingAccountRoleType.id%>" ><%=billingAccountRoleType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>