<label for="partyRelationshipTypeSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="partyRelationshipTypeSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (partyRelationshipType) {
	%>
		<% if (selectedOption == partyRelationshipType.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=partyRelationshipType.id%>" selected="selected" >
					<%=partyRelationshipType.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=partyRelationshipType.attributes.code%>" selected="selected" >
					<%=partyRelationshipType.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=partyRelationshipType.id%>" ><%=partyRelationshipType.attributes.code%></option>
			<% } else {%>
				<option value="<%=partyRelationshipType.attributes.code%>" ><%=partyRelationshipType.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
