<label for="serviceSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="serviceSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (service) {
	%>
		<% if (selectedOption == service.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=service.id%>" selected="selected" >
					<%=service.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=service.attributes.code%>" selected="selected" >
					<%=service.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=service.id%>" ><%=service.attributes.code%></option>
			<% } else {%>
				<option value="<%=service.attributes.code%>" ><%=service.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
