<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= person ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-person-form">
								    <fieldset>
								    	<legend><%= entities_strings.person %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- party. -->
												<div id="partySelectContainerDiv" class="span6">
	            								</div>
												<% if (person) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.person_code %></label>
													<input type="text" id="code" value="<%= person.get('code') ? person.get('code') : '' %>" name="code" placeholder="<%= entities_strings.person_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.person_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.person_code %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- currentFNm. -->
						            			<div class="span6">
						            				<label for="currentFNm"><%= entities_strings.person_currentfnm %></label>
													<input type="text" id="currentFNm" value="<%= person.get('currentFNm') ? person.get('currentFNm') : '' %>" name="currentFNm" placeholder="<%= entities_strings.person_currentfnm %>">
												</div>		
												<% } else {%>
												<!-- currentFNm. -->
						            			<div class="span6">
						            				<label for="currentFNm"><%= entities_strings.person_currentfnm %></label>
													<input type="text" id="currentFNm" name="currentFNm" value="" placeholder="<%= entities_strings.person_currentfnm %>">
												</div>		
												<% } %>									
												<% if (person) { %>
												<!-- currentLNm. -->
						            			<div class="span6">
						            				<label for="currentLNm"><%= entities_strings.person_currentlnm %></label>
													<input type="text" id="currentLNm" value="<%= person.get('currentLNm') ? person.get('currentLNm') : '' %>" name="currentLNm" placeholder="<%= entities_strings.person_currentlnm %>">
												</div>		
												<% } else {%>
												<!-- currentLNm. -->
						            			<div class="span6">
						            				<label for="currentLNm"><%= entities_strings.person_currentlnm %></label>
													<input type="text" id="currentLNm" name="currentLNm" value="" placeholder="<%= entities_strings.person_currentlnm %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- currentMNm. -->
						            			<div class="span6">
						            				<label for="currentMNm"><%= entities_strings.person_currentmnm %></label>
													<input type="text" id="currentMNm" value="<%= person.get('currentMNm') ? person.get('currentMNm') : '' %>" name="currentMNm" placeholder="<%= entities_strings.person_currentmnm %>">
												</div>		
												<% } else {%>
												<!-- currentMNm. -->
						            			<div class="span6">
						            				<label for="currentMNm"><%= entities_strings.person_currentmnm %></label>
													<input type="text" id="currentMNm" name="currentMNm" value="" placeholder="<%= entities_strings.person_currentmnm %>">
												</div>		
												<% } %>									
												<% if (person) { %>
												<!-- currentSuffix. -->
						            			<div class="span6">
						            				<label for="currentSuffix"><%= entities_strings.person_currentsuffix %></label>
													<input type="text" id="currentSuffix" value="<%= person.get('currentSuffix') ? person.get('currentSuffix') : '' %>" name="currentSuffix" placeholder="<%= entities_strings.person_currentsuffix %>">
												</div>		
												<% } else {%>
												<!-- currentSuffix. -->
						            			<div class="span6">
						            				<label for="currentSuffix"><%= entities_strings.person_currentsuffix %></label>
													<input type="text" id="currentSuffix" name="currentSuffix" value="" placeholder="<%= entities_strings.person_currentsuffix %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- currentPtitle. -->
						            			<div class="span6">
						            				<label for="currentPtitle"><%= entities_strings.person_currentptitle %></label>
													<input type="text" id="currentPtitle" value="<%= person.get('currentPtitle') ? person.get('currentPtitle') : '' %>" name="currentPtitle" placeholder="<%= entities_strings.person_currentptitle %>">
												</div>		
												<% } else {%>
												<!-- currentPtitle. -->
						            			<div class="span6">
						            				<label for="currentPtitle"><%= entities_strings.person_currentptitle %></label>
													<input type="text" id="currentPtitle" name="currentPtitle" value="" placeholder="<%= entities_strings.person_currentptitle %>">
												</div>		
												<% } %>									
												<% if (person) { %>
												<!-- currentNNm. -->
						            			<div class="span6">
						            				<label for="currentNNm"><%= entities_strings.person_currentnnm %></label>
													<input type="text" id="currentNNm" value="<%= person.get('currentNNm') ? person.get('currentNNm') : '' %>" name="currentNNm" placeholder="<%= entities_strings.person_currentnnm %>">
												</div>		
												<% } else {%>
												<!-- currentNNm. -->
						            			<div class="span6">
						            				<label for="currentNNm"><%= entities_strings.person_currentnnm %></label>
													<input type="text" id="currentNNm" name="currentNNm" value="" placeholder="<%= entities_strings.person_currentnnm %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- motherMaidenNm. -->
						            			<div class="span6">
						            				<label for="motherMaidenNm"><%= entities_strings.person_mothermaidennm %></label>
													<input type="text" id="motherMaidenNm" value="<%= person.get('motherMaidenNm') ? person.get('motherMaidenNm') : '' %>" name="motherMaidenNm" placeholder="<%= entities_strings.person_mothermaidennm %>">
												</div>		
												<% } else {%>
												<!-- motherMaidenNm. -->
						            			<div class="span6">
						            				<label for="motherMaidenNm"><%= entities_strings.person_mothermaidennm %></label>
													<input type="text" id="motherMaidenNm" name="motherMaidenNm" value="" placeholder="<%= entities_strings.person_mothermaidennm %>">
												</div>		
												<% } %>									
												<% if (person) { %>
												<!-- gender. -->
						            			<div class="span6">
						            				<label for="gender"><%= entities_strings.person_gender %></label>
													<input type="text" id="gender" value="<%= person.get('gender') ? person.get('gender') : '' %>" name="gender" placeholder="<%= entities_strings.person_gender %>">
												</div>		
												<% } else {%>
												<!-- gender. -->
						            			<div class="span6">
						            				<label for="gender"><%= entities_strings.person_gender %></label>
													<input type="text" id="gender" name="gender" value="" placeholder="<%= entities_strings.person_gender %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- maritalSt. -->
						            			<div class="span6">
						            				<label for="maritalSt"><%= entities_strings.person_maritalst %></label>
													<input type="text" id="maritalSt" value="<%= person.get('maritalSt') ? person.get('maritalSt') : '' %>" name="maritalSt" placeholder="<%= entities_strings.person_maritalst %>">
												</div>		
												<% } else {%>
												<!-- maritalSt. -->
						            			<div class="span6">
						            				<label for="maritalSt"><%= entities_strings.person_maritalst %></label>
													<input type="text" id="maritalSt" name="maritalSt" value="" placeholder="<%= entities_strings.person_maritalst %>">
												</div>		
												<% } %>									
												<% if (person) { %>
												<!-- ssNo. -->
						            			<div class="span6">
						            				<label for="ssNo"><%= entities_strings.person_ssno %></label>
													<input type="text" id="ssNo" value="<%= person.get('ssNo') ? person.get('ssNo') : '' %>" name="ssNo" placeholder="<%= entities_strings.person_ssno %>">
												</div>		
												<% } else {%>
												<!-- ssNo. -->
						            			<div class="span6">
						            				<label for="ssNo"><%= entities_strings.person_ssno %></label>
													<input type="text" id="ssNo" name="ssNo" value="" placeholder="<%= entities_strings.person_ssno %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- currentPpNo. -->
						            			<div class="span6">
						            				<label for="currentPpNo"><%= entities_strings.person_currentppno %></label>
													<input type="text" id="currentPpNo" value="<%= person.get('currentPpNo') ? person.get('currentPpNo') : '' %>" name="currentPpNo" placeholder="<%= entities_strings.person_currentppno %>">
												</div>		
												<% } else {%>
												<!-- currentPpNo. -->
						            			<div class="span6">
						            				<label for="currentPpNo"><%= entities_strings.person_currentppno %></label>
													<input type="text" id="currentPpNo" name="currentPpNo" value="" placeholder="<%= entities_strings.person_currentppno %>">
												</div>		
												<% } %>									
												<% if (person) { %>
												<!-- currentPpExpDt. -->
						            			<div class="span6">
						            				<label for="currentPpExpDt"><%= entities_strings.person_currentppexpdt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="currentPpExpDt" name="currentPpExpDt" type="text" value="<%= person.get('currentPpExpDt') ? person.get('currentPpExpDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- currentPpExpDt. -->
						            			<div class="span6">
						            				<label for="currentPpExpDt"><%= entities_strings.person_currentppexpdt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="currentPpExpDt" name="currentPpExpDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- weight. -->
						            			<div class="span6">
						            				<label for="weight"><%= entities_strings.person_weight %></label>
													<input type="text" id="weight" value="<%= person.get('weight') ? person.get('weight') : '' %>" name="weight" placeholder="<%= entities_strings.person_weight %>">
												</div>		
												<% } else {%>
												<!-- weight. -->
						            			<div class="span6">
						            				<label for="weight"><%= entities_strings.person_weight %></label>
													<input type="text" id="weight" name="weight" value="" placeholder="<%= entities_strings.person_weight %>">
												</div>		
												<% } %>									
												<% if (person) { %>
												<!-- height. -->
						            			<div class="span6">
						            				<label for="height"><%= entities_strings.person_height %></label>
													<input type="text" id="height" value="<%= person.get('height') ? person.get('height') : '' %>" name="height" placeholder="<%= entities_strings.person_height %>">
												</div>		
												<% } else {%>
												<!-- height. -->
						            			<div class="span6">
						            				<label for="height"><%= entities_strings.person_height %></label>
													<input type="text" id="height" name="height" value="" placeholder="<%= entities_strings.person_height %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- birthDt. -->
						            			<div class="span6">
						            				<label for="birthDt"><%= entities_strings.person_birthdt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="birthDt" name="birthDt" type="text" value="<%= person.get('birthDt') ? person.get('birthDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- birthDt. -->
						            			<div class="span6">
						            				<label for="birthDt"><%= entities_strings.person_birthdt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="birthDt" name="birthDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												<% if (person) { %>
												<!-- totYrWorkExp. -->
						            			<div class="span6">
						            				<label for="totYrWorkExp"><%= entities_strings.person_totyrworkexp %></label>
													<input type="text" id="totYrWorkExp" value="<%= person.get('totYrWorkExp') ? person.get('totYrWorkExp') : '' %>" name="totYrWorkExp" placeholder="<%= entities_strings.person_totyrworkexp %>">
												</div>		
												<% } else {%>
												<!-- totYrWorkExp. -->
						            			<div class="span6">
						            				<label for="totYrWorkExp"><%= entities_strings.person_totyrworkexp %></label>
													<input type="text" id="totYrWorkExp" name="totYrWorkExp" value="" placeholder="<%= entities_strings.person_totyrworkexp %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (person) { %>
												<!-- remarks. -->
						            			<div class="span6">
						            				<label for="remarks"><%= entities_strings.person_remarks %></label>
													<input type="text" id="remarks" value="<%= person.get('remarks') ? person.get('remarks') : '' %>" name="remarks" placeholder="<%= entities_strings.person_remarks %>">
												</div>		
												<% } else {%>
												<!-- remarks. -->
						            			<div class="span6">
						            				<label for="remarks"><%= entities_strings.person_remarks %></label>
													<input type="text" id="remarks" name="remarks" value="" placeholder="<%= entities_strings.person_remarks %>">
												</div>		
												<% } %>									
												<% if (person) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.person_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= person.get('effectiveDt') ? person.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.person_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
												<!-- recSt. -->
						            			<div class="span12">
						            				<label for="recSt"><%= entities_strings.person_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-person"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






