<label for="invoiceRoleSelect"><%= entities_strings.invoicerole %></label>
<select name="<%=relatedFieldName%>" id="invoiceRoleSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (invoiceRole) {
	%>
		<% if (selectedOption == invoiceRole.attributes.id) { %>
	<option value="<%=invoiceRole.id%>" selected="selected" ><%=invoiceRole.attributes.code%></option>
		<% } else {%>
	<option value="<%=invoiceRole.id%>" ><%=invoiceRole.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>