<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Customer Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list-advice" class="shortcut">
                                <i class="shortcut-icon icon-folder-close-alt"></i>
                                <span class="shortcut-label">Advices</span>
                            </a>
                            
                            <a href="#list-advicetype" class="shortcut">
                                <i class="shortcut-icon icon-sitemap"></i>
                                <span class="shortcut-label">Advice Types</span>                               
                            </a>
                            
                            <a href="#list-advicetypetag" class="shortcut">
                                <i class="shortcut-icon icon-tags"></i>
                                <span class="shortcut-label">Advice Type Tags</span> 
                            </a>
                            
                            <a href="#list-advicestatus" class="shortcut">
                                <i class="shortcut-icon icon-thumbs-up"></i>
                                <span class="shortcut-label">Advice Status</span>
                            </a>     
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->