<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Business Information</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list-currency" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Currencies</span>
                            </a>
                            
                            <a href="#list-servicechannel" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Service Channel</span>                           
                            </a>
                            
                            <a href="#list-geoboundrytype" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Geo Graphical Boundry Types</span> 
                            </a>
                            
                            <a href="#list-geoboundry" class="shortcut">
                                <i class="shortcut-icon icon-bar-chart"></i>
                                <span class="shortcut-label">Geographical Boundries</span>
                            </a>
                            
                            <a href="#list-geoboundryassociation" class="shortcut">
                                <i class="shortcut-icon icon-file"></i>
                                <span class="shortcut-label">Boundry Associations</span>   
                            </a>  
                            
                            <a href="#list-statustype" class="shortcut">
                                <i class="shortcut-icon icon-bar-chart"></i>
                                <span class="shortcut-label">Status Types</span>
                            </a> 
                            <a href="#businessdata-module" class="shortcuts-empty">
                                
                            </a>   
                            <a href="#businessdata-module" class="shortcuts-empty">
                                
                            </a>        
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->