<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Channel Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            
                            <a href="#list/servicetransaction" class="shortcut">
                                <i class="shortcut-icon icon-th-large"></i>
                                <span class="shortcut-label">Transactions</span>  
                            </a>      
                            
                            <a href="#list/servicetransactiontype" class="shortcut">
                                <i class="shortcut-icon icon-th-large"></i>
                                <span class="shortcut-label">Transactions Types</span>  
                            </a>        
                            
                            <a href="#list/servicetransactionstatus" class="shortcut">
                                <i class="shortcut-icon icon-th-large"></i>
                                <span class="shortcut-label">Transactions Status</span>  
                            </a>  
                            <a href="#channel-module" class="shortcuts-empty">
                                
                            </a>           
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->