<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Channel Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list-service" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Service</span>
                            </a>
                            
                            <a href="#list-servicetype" class="shortcut">
                                <i class="shortcut-icon icon-sitemap"></i>
                                <span class="shortcut-label">Service Types</span>                               
                            </a>
                            
                            <a href="#list-servicemode" class="shortcut">
                                <i class="shortcut-icon icon-briefcase"></i>
                                <span class="shortcut-label">Service Mode</span>
                            </a>
                            
                            <a href="#list-serviceprotocoladapter" class="shortcut">
                                <i class="shortcut-icon icon-briefcase"></i>
                                <span class="shortcut-label">Protocol Adapters</span>
                            </a>
                            
                            <a href="#list-hosttype" class="shortcut">
                                <i class="shortcut-icon icon-bookmark-empty"></i>
                                <span class="shortcut-label">Host Types</span>
                            </a>
                            
                            <a href="#list-host" class="shortcut">
                                <i class="shortcut-icon icon-bookmark"></i>
                                <span class="shortcut-label">Host</span>   
                            </a>
                            
                            <a href="#list-servicepeer" class="shortcut">
                                <i class="shortcut-icon icon-retweet"></i>
                                <span class="shortcut-label">Channel Peers</span>   
                            </a>
                            
                            <a href="#list-servicetransaction" class="shortcut">
                                <i class="shortcut-icon icon-th-large"></i>
                                <span class="shortcut-label">Transactions</span>  
                            </a>              
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->