<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Customer Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list-customer" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Customer Profile</span>
                            </a>
                            
                            <a href="#list-partytype" class="shortcut">
                                <i class="shortcut-icon icon-sitemap"></i>
                                <span class="shortcut-label">Customer Types</span>                               
                            </a>
                            
                            <a href="#list-partyclassification" class="shortcut">
                                <i class="shortcut-icon icon-group"></i>
                                <span class="shortcut-label">Customer Groups</span> 
                            </a>
                            
                            <a href="#list-billingaccount" class="shortcut">
                                <i class="shortcut-icon icon-briefcase"></i>
                                <span class="shortcut-label">Billing Accounts</span>
                            </a>
                            
                            <a href="#list-roletype" class="shortcut">
                                <i class="shortcut-icon icon-bookmark-empty"></i>
                                <span class="shortcut-label">Role Types</span>
                            </a>
                            
                            <a href="#list-partyroletype" class="shortcut">
                                <i class="shortcut-icon icon-bookmark"></i>
                                <span class="shortcut-label">Party Role Type</span>   
                            </a>
                            
                            <a href="#list-partyrelationshiptype" class="shortcut">
                                <i class="shortcut-icon icon-retweet"></i>
                                <span class="shortcut-label">Relationship Type</span>   
                            </a>
                            
                            <a href="#list-partyclassificationtype" class="shortcut">
                                <i class="shortcut-icon icon-th-large"></i>
                                <span class="shortcut-label">Classification Types</span>  
                            </a>              
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->