<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Billing Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            
                            <a href="#list/datasource" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Datasources</span> 
                            </a> 

                            <a href="#list/datasourcetype" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Datasource Types</span>
                            </a>
                            
                            <a href="#list/datasourcecategory" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Datasource Category</span> 
                            </a>    
                            
                            <a href="#list/datasourcefield" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Datasource Field</span> 
                            </a>     
                            
                            <a href="#list/datasourcefieldtype" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Datasource Field Type</span> 
                            </a>     
                            
                            <a href="#list/datasourcestructure" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Datasource Structures</span>                               
                            </a>   
                            
                            <a href="#list/datainputjob" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Data Input Jobs</span>                               
                            </a>   
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->