<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Data Extraction Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            
                            <a href="#list/datachannel" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Data Channels</span> 
                            </a> 

                            <a href="#list/datachanneltype" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Data Channel Types</span>
                            </a>
                            
                            <a href="#list/datachannelcategory" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Data Channel Category</span> 
                            </a>    
                            
                            <a href="#list/datachannelstatus" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Data Channel Status</span> 
                            </a>   

                            <a href="#list/datafield" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Data Field</span> 
                            </a>     
                            
                            <a href="#list/datafieldtype" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Data Field Type</span> 
                            </a>     
                            
                            <a href="#list/datastructure" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Data Structures</span>                               
                            </a>      
                            
                            <a href="#list/data" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Data</span>                               
                            </a>      
                            
                            <a href="#list/datainput" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Data Input Configuration</span>                               
                            </a>   
                            
                            <a href="#list/datainputjob" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Data Input Jobs</span>                               
                            </a>    
                            
                            <a href="#list/datainputjobsummary" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Jobs Summary</span>                               
                            </a>    
                            
                            <a href="#list/datainputjobrecordssummary" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Job Records Summary</span>                               
                            </a>   
                            <a href="#datasource-module" class="shortcuts-empty">
                                
                            </a>  
                            <a href="#datasource-module" class="shortcuts-empty">
                                
                            </a>  
                            <a href="#datasource-module" class="shortcuts-empty">
                                
                            </a>  
                            <a href="#datasource-module" class="shortcuts-empty">
                                
                            </a>   
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->