<div class="extra">

	<div class="extra-inner">

		<div class="container">

			<div class="row">
				
    			<div class="span3">
    				
    				<h4>Tasks</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Completed</a></li>
    					<li><a href="javascript:;">Overdue</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Feeds</h4>
    				
    				<ul>
    					<li><a href="javascript:;">My Feeds</a></li>
    					<li><a href="javascript:;">Settings</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Help</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Frequently Asked Questions</a></li>
    					<li><a href="javascript:;">User Manual</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Settings</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Account Settings</a></li>
    					<li><a href="javascript:;">Privacy Settings </a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    		</div> <!-- /row -->

		</div> <!-- /container -->

	</div> <!-- /extra-inner -->

</div> <!-- /extra -->    <!-- Footer -->
    <div class="footer">
	
	<div class="footer-inner">
		
		<div class="container">
			
			<div class="row">
				
    			<div class="span12">
    				<center>&copy; 2012 <a href="http://bootstrapadmin.com">Edge Platform</a>.</center>
    			</div> <!-- /span12 -->
    			
    		</div> <!-- /row -->
    		
		</div> <!-- /container -->
		
	</div> <!-- /footer-inner -->
	
</div> <!-- /footer -->
