<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Quick Shortcuts</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#customer-module" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Customers</span>
                            </a>
                            
                            <a href="#advice-module" class="shortcut">
                                <i class="shortcut-icon icon-folder-close-alt"></i>
                                <span class="shortcut-label">Advices</span>                               
                            </a>
                            
                            <a href="#product-module" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Channel Services</span>                               
                            </a>
                            
                            <!-- <a href="#order-module" class="shortcut">
                                <i class="shortcut-icon icon-credit-card"></i>
                                <span class="shortcut-label">Billing</span> 
                            </a>
                            
                            <a href="#payment-module" class="shortcut">
                                <i class="shortcut-icon icon-money"></i>
                                <span class="shortcut-label">Payments</span> 
                            </a> -->
                            
                            <a href="#messaging-module" class="shortcut">
                                <i class="shortcut-icon icon-envelope"></i>
                                <span class="shortcut-label">Messaging</span>                                
                            </a>
                            
                            <a href="#reports-module" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Reports</span>
                            </a>
                            
                            <a href="#businessdata-module" class="shortcut">
                                <i class="shortcut-icon icon-cog"></i>
                                <span class="shortcut-label">Buisness Data</span>   
                            </a>       
                            
                            <a href="#datasource-module" class="shortcut">
                                <i class="shortcut-icon icon-exchange"></i>
                                <span class="shortcut-label">Data Import & Export</span>
                            </a>
                            <a href="#about-module" class="shortcuts-empty">
                                
                            </a>   
                            
                            <!-- <a href="#settings-module" class="shortcut">
                                <i class="shortcut-icon icon-cogs"></i>
                                <span class="shortcut-label">System Settings</span>   
                            </a>   -->     
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->

                    
                    
                </div> <!-- /widget -->