<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Quick Shortcuts</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
	             		<div class="row-fluid">
	                    	<div id="chartdiv" class="span12"></div>
	                    </div>
                    </div> <!-- /widget-content -->

                    
                    
                </div> <!-- /widget -->