<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Billing Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            
                            <a href="#list-invoice" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Invoices</span> 
                            </a> 

                            <a href="#list-invoicetype" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Invoice Types</span>
                            </a>

                            <a href="#list-invoiceterm" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Invoice Term</span>
                            </a>
                            
                            <a href="#list-invoiceitemtype" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Invoice Item Type</span> 
                            </a>    
                            
                            <a href="#list-invoiceitemcategory" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Invoice Item Category</span> 
                            </a>    
                            
                            <a href="#list-invoiceitem" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Invoice Item</span> 
                            </a>    
                            
                            <a href="#list-invoiceroletype" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Invoice Role Types</span>                               
                            </a>   
                            
                            <a href="#list-invoicerole" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Invoice Role</span>                               
                            </a>   
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->