<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Messaging Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list-communicationevent" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Inbox</span>
                            </a>
                            
                            <a href="#list-communicationevent" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Oubox</span>                               
                            </a>
                            
                            <a href="#edit-communicationevent" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Compose</span> 
                            </a>
                            
                            <a href="#edit-communicationeventpurposetype" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Event Purpose Type</span> 
                            </a>

                            
                            <a href="#edit-communicationeventpurpose" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Event Purpose</span> 
                            </a>
                            
                            <a href="#list-communicationeventstatustype" class="shortcut">
                                <i class="shortcut-icon icon-comment"></i>
                                <span class="shortcut-label">Communication Event Status Types</span>                                
                            </a>
                            
                            <a href="javascript:;" class="shortcut">
                                <i class="shortcut-icon icon-bar-chart"></i>
                                <span class="shortcut-label">Message Settings</span>
                            </a>    
                            
                            <a href="#list-partycase" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Case</span> 
                            </a>

                            
                            <a href="#list-caseroletype" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Case Role Type</span> 
                            </a>
                            
                            <a href="#list-caserole" class="shortcut">
                                <i class="shortcut-icon icon-comment"></i>
                                <span class="shortcut-label">Case Roles</span>                                
                            </a>             
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->