<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Messaging Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list/message" class="shortcut">
                                <i class="shortcut-icon icon-envelope"></i>
                                <span class="shortcut-label">Messages</span>
                            </a>
                            
                            <a href="#list/messagetype" class="shortcut">
                                <i class="shortcut-icon icon-book"></i>
                                <span class="shortcut-label">Message Types</span>                               
                            </a>
                            
                            <a href="#list/messagecategory" class="shortcut">
                                <i class="shortcut-icon icon-sitemap"></i>
                                <span class="shortcut-label">Message Categories</span>                               
                            </a>
                            
                            <a href="#list/messagestatus" class="shortcut">
                                <i class="shortcut-icon icon-flag"></i>
                                <span class="shortcut-label">Message Status</span> 
                            </a>   
                            
                            <a href="#list/messageclassification" class="shortcut">
                                <i class="shortcut-icon icon-reorder"></i>
                                <span class="shortcut-label">Message Classification</span> 
                            </a>     
                            
                            <a href="#list/messageapplication" class="shortcut">
                                <i class="shortcut-icon icon-tasks"></i>
                                <span class="shortcut-label">Message Applications</span> 
                            </a>     
                            
                            <a href="#list/messageapplicationtag" class="shortcut">
                                <i class="shortcut-icon icon-tags"></i>
                                <span class="shortcut-label">Message Application Tags</span> 
                            </a>         
                                
                            
                            <a href="#list/messageapplicationaction" class="shortcut">
                                <i class="shortcut-icon icon-cog"></i>
                                <span class="shortcut-label">Message Applications Action</span> 
                            </a>     
                            
                            <a href="#list/messageapplicationactiontag" class="shortcut">
                                <i class="shortcut-icon icon-cogs"></i>
                                <span class="shortcut-label">Message Application Action Tags</span> 
                            </a>         
                            

                            <a href="#list/messageattachment" class="shortcut">
                                <i class="shortcut-icon icon-upload"></i>
                                <span class="shortcut-label">Message Attachments</span> 
                            </a>  

                            <a href="#channel-module" class="shortcuts-empty">
                                
                            </a>  
                            
                            <a href="#channel-module" class="shortcuts-empty">
                                
                            </a>  
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->