<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Notification Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list/customernotification" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Customer Notifications</span>
                            </a>
                            <a href="#list/usernotification" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">User Notifications</span>
                            </a>
                            
                            <a href="#list/notificationtype" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Notification Types</span>                               
                            </a>
                            
                            <a href="#list/notificationcategory" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Notification Category</span> 
                            </a>   

                            <a href="#list/template" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Templates</span>
                            </a>
                            
                            <a href="#list/templatetype" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Template Types</span>                               
                            </a>
                            
                            <a href="#list/templatecategory" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Template Category</span> 
                            </a>   
                            
                            <a href="#list/templateclassification" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Template Classification</span> 
                            </a>  
                            
                            <!-- <a href="#list/uom" class="shortcut">
                                <i class="shortcut-icon icon-file"></i>
                                <span class="shortcut-label">Notification Unit Of Measure</span>   
                            </a>  -->          
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->