<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Orders Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            
                            <a href="#list-productorder" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Orders</span> 
                            </a> 

                            <a href="#list-productordertype" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Order Types</span>
                            </a>

                            <a href="#list-productorderitemtype" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Order Item Type</span>
                            </a>
                            
                            <a href="#list-productorderitem" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Order Items</span> 
                            </a>   
                            
                            <a href="#list-orderitembilling" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Order Item Billing</span> 
                            </a>     

                            <a href="#list-termtype" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Term Type</span>                               
                            </a>   
                            
                            <a href="#list-uom" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">UOM</span>                               
                            </a>    
                            
                            <a href="#list-uomconverstion" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">UOM Converstion</span>                               
                            </a>   
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->