<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Payments Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            
                            <a href="#list-payment" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Payments</span> 
                            </a> 

                            <a href="#list-paymenttype" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Payment Types</span>
                            </a>

                            <a href="#list-paymentmethodtype" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Payment Method Type</span>
                            </a>
                            
                            <a href="#list-party" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Payment Provider</span> 
                            </a>   
                            
                            <a href="#list-paymentmethodtypeprovider" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Payment Method Provider</span> 
                            </a>     

                            <a href="#list-paymentapplication" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Payment Application Type</span>                               
                            </a>   
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->