<div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Products Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list-product" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Products</span>
                            </a>
                            
                            <a href="#list-estimatedproductcost" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Product Pricing</span>                               
                            </a>
                            
                            <a href="#list-producttype" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Product Types</span>                               
                            </a>
                            
                            <a href="#list-productcategory" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Product Categories</span> 
                            </a>

                            
                            <a href="#list-productcategorytype" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Product Category Type</span> 
                            </a>
                            
                            <a href="#list-productfeature" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Product Feature</span>                               
                            </a>
                            
                            <a href="#list-productfeaturetype" class="shortcut">
                                <i class="shortcut-icon icon-comment"></i>
                                <span class="shortcut-label">Product Feature Types</span>                                
                            </a>

                            <a href="#list-productfeaturecategory" class="shortcut">
                                <i class="shortcut-icon icon-comment"></i>
                                <span class="shortcut-label">Product Feature Category</span>                                
                            </a>

                            <a href="#list-productfeatureapplicability" class="shortcut">
                                <i class="shortcut-icon icon-comment"></i>
                                <span class="shortcut-label">Feature Applicability</span>                                
                            </a>

                            <a href="#list-productfeatureapplicabilitytype" class="shortcut">
                                <i class="shortcut-icon icon-comment"></i>
                                <span class="shortcut-label">Feature Applicability Type</span>                                
                            </a>
                            
                            <a href="#list-productclassification" class="shortcut">
                                <i class="shortcut-icon icon-bar-chart"></i>
                                <span class="shortcut-label">Product Classification</span>
                            </a>
                            
                            <a href="#list-productcategory" class="shortcut">
                                <i class="shortcut-icon icon-file"></i>
                                <span class="shortcut-label">Product Categories</span>   
                            </a>   
                            
                            <!-- <a href="#list-uom" class="shortcut">
                                <i class="shortcut-icon icon-file"></i>
                                <span class="shortcut-label">Product Unit Of Measure</span>   
                            </a>  -->          
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->