                <div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Reports Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="javascript:;" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Customer Reports</span>
                            </a>
                            
                            <a href="javascript:;" class="shortcut">
                                <i class="shortcut-icon icon-comment"></i>
                                <span class="shortcut-label">Advices Statistics</span>                                
                            </a>   
                            
                            <a href="javascript:;" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Transactions</span>                               
                            </a>
                            
                            <a href="javascript:;" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Messaging Reports</span> 
                            </a>
                            
                            <a href="javascript:;" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Data Input Reports</span> 
                            </a>
                            
                            <a href="#datasource-module" class="shortcuts-empty">
                                
                            </a>  
                            <a href="#datasource-module" class="shortcuts-empty">
                                
                            </a>  
                            <a href="#datasource-module" class="shortcuts-empty">
                                
                            </a>   
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->