                <div class="widget">
                        
                    <div class="widget-header">
                        <i class="icon-bookmark"></i>
                        <h3>Reports Module</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                        <div class="shortcuts">
                            <a href="#list/systemuser" class="shortcut">
                                <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label">Users</span>
                            </a>
                            
                            <a href="#list/systemgroup" class="shortcut">
                                <i class="shortcut-icon icon-star"></i>
                                <span class="shortcut-label">Groups</span>                           
                            </a>
                            
                            <a href="#list/systemusermessage" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">User Messages</span> 
                            </a>
                            
                            <a href="#list/currentusersession" class="shortcut">
                                <i class="shortcut-icon icon-signal"></i>
                                <span class="shortcut-label">Current User Session</span> 
                            </a>
                            
                            <a href="#security-module" class="shortcuts-empty">
                                
                            </a>   
                            
                            <a href="#security-module" class="shortcuts-empty">
                                
                            </a>  
                            
                            <a href="#security-module" class="shortcuts-empty">
                                
                            </a>  
                            
                            <a href="#security-module" class="shortcuts-empty">
                                
                            </a>       
                        </div> <!-- /shortcuts -->  
                    
                    </div> <!-- /widget-content -->
                    
                </div> <!-- /widget -->