                        <div class="widget widget-table">
                            
                            <div class="widget-header">
                                <span class="icon-list-alt"></span>
                                <h3>Quick Links</h3>
                            </div> <!-- .widget-header -->
                            
                            <div class="widget-content">
                                <table class="table table-bordered table-striped">
                                    
                                    <thead><tr>                             
                                        <th>Referrer</th>                             
                                    </tr></thead>
                            
                                <tbody><tr>
                                    <td class="description"><a href="#list-party">Manage Customers</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-productorder">Process Orders</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-invoice">Manage Invoices</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-payment">Manage Payments</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-communicationevent">Manage Customer Interactions</a></td>
                                </tr>
                                
                                <tr>
                                    <td class="description"><a href="#">Print Report</a></td>
                                </tr>
                                
                            </tbody></table>
                                
                            </div> <!-- .widget-content -->
                            
                        </div> <!-- /widget --> 