                        <div class="widget widget-table">
                            
                            <div class="widget-header">
                                <span class="icon-list-alt"></span>
                                <h3>Quick Links</h3>
                            </div> <!-- .widget-header -->                            
                            <div class="widget-content scrollable-sidebar-content">

                            <div class="accordion" id="basic-accordion">
                            <div class="accordion-group open">
                              <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseOne">
                                  Collapsible Group Item #1
                                </a>
                              </div>
                              <div id="collapseOne" class="accordion-body in collapse">
                                

                                
                                  <table class="table table-bordered table-striped">
                                    
                                    <thead></thead>
                            
                                <tbody><tr>
                                    <td class="description"><a href="#list/customer">Manage Customers</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list/message">Manage Messages</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list/service">Manage Services</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list/datachannel">Manage Data Channels</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list/advice">Manage Advices </a></td>
                                </tr>
                                
                                <tr>
                                    <td class="description"><a href="">Print Report</a></td>
                                </tr>
                                
                            </tbody></table>


                                
                              </div>
                            </div>
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseTwo">
                                  Collapsible Group Item #2
                                </a>
                              </div>
                              <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                </div>
                              </div>
                            </div>
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseThree">
                                  Collapsible Group Item #3
                                </a>
                              </div>
                              <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  <p>Anim pariatur cliche reprehenderit, enim 
eiusmod high life accusamus terry richardson ad squid. 3 wolf moon 
officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa 
nesciunt laborum eiusmod. Brunch 3.</p>
                                  
                                  <p>Vivamus ac velit eget turpis pharetra placerat bibendum at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
                                  
                                </div>
                              </div>
                            </div>
                          </div>

                                
                                
                            </div> <!-- .widget-content -->

                            <div class="widget-content scrollable-sidebar-content">
                    
                                <table class="table table-bordered table-striped">
                                    
                                    <thead><tr>                             
                                        <th>Related Activities</th>                             
                                    </tr></thead>
                                
                                <tbody id="related-activities-container">
                                <!-- <tr>
                                    <td class="description"><a href="#list-party">Manage Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-productorder">Process Orders</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-invoice">Manage Invoices</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-payment">Manage Payments</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-communicationevent">Manage Customer Interactions</a></td>
                                </tr>
                                
                                <tr>
                                    <td class="description"><a href="#">Print Report</a></td>
                                </tr> -->
                                
                            </tbody></table>
                                
                            </div> <!-- .widget-content -->
                            
                        </div> <!-- /widget --> 