                        <div class="widget widget-table">
                            
                            <div class="widget-header">
                                <span class="icon-list-alt"></span>
                                <h3>Quick Links</h3>
                            </div> <!-- .widget-header -->
                            
                            <div class="widget-content scrollable-sidebar-content">
                                <table class="table table-bordered table-striped">
                                    
                                    <thead><tr>                             
                                        <th>User Items</th>                             
                                    </tr></thead>
                            
                                <tbody><tr>
                                    <td class="description"><a href="#list/customer">Manage Customers</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list/message">Manage Messages</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list/service">Manage Services</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list/datachannel">Manage Data Channels</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list/advice">Manage Advices </a></td>
                                </tr>
                                
                                <tr>
                                    <td class="description"><a href="">Print Report</a></td>
                                </tr>
                                
                            </tbody></table>
                                
                            </div> <!-- .widget-content -->

                            <div class="widget-content scrollable-sidebar-content">
                                <table class="table table-bordered table-striped">
                                    
                                    <thead><tr>                             
                                        <th>Related Activities</th>                             
                                    </tr></thead>
                            
                                <tbody id="related-activities-container">
                                <!-- <tr>
                                    <td class="description"><a href="#list-party">Manage Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-productorder">Process Orders</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-invoice">Manage Invoices</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-payment">Manage Payments</a></td>
                                </tr>
                                <tr>
                                    <td class="description"><a href="#list-communicationevent">Manage Customer Interactions</a></td>
                                </tr>
                                
                                <tr>
                                    <td class="description"><a href="#">Print Report</a></td>
                                </tr> -->
                                
                            </tbody></table>
                                
                            </div> <!-- .widget-content -->
                            
                        </div> <!-- /widget --> 