<div class="subnavbar">

            <div class="subnavbar-inner">
            
                <div class="container">

                    <ul class="mainnav">
                    
                        <li class="active">
                            <a href="#about">
                                <i class="icon-home"></i>
                                <span>Home</span>
                            </a>                        
                        </li>

                        <li class="active">
                            <a href="#customer-module">
                                <i class="icon-user"></i>
                                <span>Customers</span>
                            </a>                        
                        </li>
                        
                        <li class="active">
                            <a href="#product-module">
                                <i class="icon-star"></i>
                                <span>Products</span>
                            </a>                        
                        </li>
                        
                        <li class="active">                    
                            <a href="#order-module">
                                <i class="icon-shopping-cart"></i>
                                <span>Orders</span>
                            </a>                                    
                        </li>

                        <li class="active">                    
                            <a href="#invoice-module">
                                <i class="icon-credit-card"></i>
                                <span>Billing</span>
                            </a>                                    
                        </li>
                        
                        <li class="active subnavbar-open-right">                   
                            <a href="#payment-module" class="dropdown-toggle">
                                <i class="icon-money"></i>
                                <span>Payments</span>
                            </a>                    
                        </li>
                        
                        <li class="active subnavbar-open-right">                   
                            <a href="#messaging-module" class="dropdown-toggle">
                                <i class="icon-envelope"></i>
                                <span>Messaging</span>
                            </a>                    
                        </li>
                        
                        <li class="active">
                            <a href="#businessdata-module">
                                <i class="icon-cog"></i>
                                <span>Business Data</span>
                            </a>                    
                        </li>
                        
                        <li class="active">
                            <a href="#reports-module">
                                <i class="icon-bar-chart"></i>
                                <span>Reports</span>
                            </a>                    
                        </li>
                        
                        <li class="active dropdown subnavbar-open-right">                  
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-share-alt"></i>
                                <span>More Items</span>
                                <b class="caret"></b>
                            </a>    
                        
                            <ul class="dropdown-menu">
                                <li><a href="#">System Settingd</a></li>
                                <li><a href="#">Data Import & Export</a></li>
                                <li class="divider subnavbar-open-right"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>                   
                        </li>
                    
                    </ul>

                </div> <!-- /container -->
            
            </div> <!-- /subnavbar-inner -->

        </div> <!-- /subnavbar --> 