<!-- Menu Page -->

    
<!-- Header -->
<div data-role="header"> 
    <h1>Login</h1> 
</div> 

<!-- Content -->
<div data-role="content"> 
    <form id="loginForm" action="#" method="POST">
        <fieldset>
        
        <label for="email">User name:</label>
        <input type="email" name="email" id="email" value=""  />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="" />

		<input id="Submit1" type="submit" value="Login" data-role="button" data-inline="true" data-theme="b" />

        <!-- <hr />
        Don't have a login? <a href="register.aspx">Sign Up</a> -->
        </fieldset>
    </form> 
</div> 

<!-- Footer -->
<div data-role="footer"> 
    <h4>http://www.nathanclaire.com/</h4> 
</div> 