<label for="communicationEventPurposeTypeSelect"><%= entities_strings.communicationeventpurposetype %></label>
<select name="<%=relatedFieldName%>" id="communicationEventPurposeTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (communicationEventPurposeType) {
	%>
		<% if (selectedOption == communicationEventPurposeType.attributes.id) { %>
	<option value="<%=communicationEventPurposeType.id%>" selected="selected" ><%=communicationEventPurposeType.attributes.code%></option>
		<% } else {%>
	<option value="<%=communicationEventPurposeType.id%>" ><%=communicationEventPurposeType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>