<!-- Content -->
						<div id="invoiceitemcategory-search-dialog" class="modal hide fade">
						    <div class="modal-header">
						    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    	<h3><%= entities_strings.invoiceitemcategory %> <%= entities_strings.alantra_label_search %></h3>
						    </div>
						    <div class="modal-body">
						    	<form id="invoiceitemcategory-search-form">
								    <fieldset>
								    	<!-- Start field block. -->
											<div class="row-fluid">
												<!-- invoiceItemCategory. -->
												<div id="invoiceItemCategorySearchContainerDiv" class="span6">
	            								</div>
												<!-- code. -->
						            			<div class="span6">
													<input type="text" id="code" value="" name="code" placeholder="Code">
												</div>		
												<!-- code. -->
						            			<div class="span6">
													<input type="text" id="name" name="name" value="" placeholder="Name">
												</div>									
											</div> 
								    </fieldset>
						    	</form>
						    </div>
						    <div class="modal-footer">
						    	<a id="do-invoiceitemcategory-search" href="#" class="btn btn-primary">Search</a>
						    	<a id="hide-invoiceitemcategory-dialog" href="#" class="btn">Close</a>
						    </div>
					    </div>

                        <div class="widget widget-table">
                            
                            <div class="widget-header">
                                <span class="icon-list-alt"></span>
                                <h3><%= entities_strings.invoiceitemcategory%> <%= entities_strings.alantra_label_list %></h3>
                                <div class="pull-right" style="padding-right:10px;">
                                	<a id="show-invoiceitemcategory-search-dialog" class="btn btn-primary" href="#list-invoiceitemcategory"><%= entities_strings.alantra_label_search %></a>
                                	<a class="btn btn-primary" href="#edit-invoiceitemcategory"><%= entities_strings.alantra_label_create_record %></a>
                            	</div>
                            </div> <!-- .widget-header -->
                            
                            <div class="widget-content">
                                <table class="table table-bordered table-striped">
                                    
                                    <thead>
	                                    <tr>                             
	                                        <th><%= entities_strings.alantra_label_id %></th>                             
	                                        <th><%= entities_strings.invoiceitemcategory_code %></th>                            
	                                        <th><%= entities_strings.invoiceitemcategory_recst %></th>                               
	                                        <th><%= entities_strings.invoiceitemcategory_createddt %></th>                            
	                                    </tr>
                                    </thead>
                            
	                                <tbody>
	                                <%
							        _.each(model.models, function (invoiceItemCategory) {
							        %>     
							        <tr>
	                                    <td class="description">
	                                    	<a href="#edit-invoiceitemcategory/<%=invoiceItemCategory.id%>"><%=invoiceItemCategory.id%></a>
	                                    </td>
	                                    <td class="description">
	                                    	<a href="#edit-invoiceitemcategory/<%=invoiceItemCategory.id%>"><%=invoiceItemCategory.attributes.code%></a>
	                                    </td>
	                                    <td class="description">
	                                    	<a href="#edit-invoiceitemcategory/<%=invoiceItemCategory.id%>"><%=invoiceItemCategory.attributes.recSt%></a>
	                                    </td>
	                                    <td class="description">
	                                    	<a href="#edit-invoiceitemcategory/<%=invoiceItemCategory.id%>"><%=invoiceItemCategory.attributes.createdDt%></a>
	                                    </td>
	                                </tr>  
							        <% }); %>                         
	                            	</tbody>
                            	</table>
                                
                            </div> <!-- .widget-content -->
                            
                        </div> <!-- /widget --> 

