<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= entity ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-customer-form">
								    <fieldset>
								    	<legend><%= entities_strings.customer %></legend>

								    		<!-- Start field block. -->
											<div class="row-fluid">
												<!-- party. -->
												<div id="partyTypeSelectContainerDiv" class="span12">
	            								</div>							
											</div> 
											<div id="personFormFieldsContainerDiv">
	            							</div>	
											<div id="organizationFormFieldsContainerDiv">
	            							</div>	
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (entity) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.customer_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= entity.get('effectiveDt') ? entity.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.customer_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												<!-- recSt. -->
						            			<div class="span6">
						            				<label for="recSt"><%= entities_strings.customer_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-customer"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






