<label for="contactMechanismPurposeTypeSelect"><%= entities_strings.contactmechanismpurposetype %></label>
<select name="<%=relatedFieldName%>" id="contactMechanismPurposeTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (contactMechanismPurposeType) {
	%>
		<% if (selectedOption == contactMechanismPurposeType.attributes.id) { %>
	<option value="<%=contactMechanismPurposeType.id%>" selected="selected" ><%=contactMechanismPurposeType.attributes.code%></option>
		<% } else {%>
	<option value="<%=contactMechanismPurposeType.id%>" ><%=contactMechanismPurposeType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>