<label for="productFeatureTypeSelect"><%= entities_strings.productfeaturetype %></label>
<select name="<%=relatedFieldName%>" id="productFeatureTypeSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productFeatureType) {
	%>
		<% if (selectedOption == productFeatureType.attributes.id) { %>
	<option value="<%=productFeatureType.id%>" selected="selected" ><%=productFeatureType.attributes.code%></option>
		<% } else {%>
	<option value="<%=productFeatureType.id%>" ><%=productFeatureType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>