<label for="partyClassificationSelect"><%= entities_strings.partyclassification %></label>
<select name="<%=relatedFieldName%>" id="partyClassificationSelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (partyClassification) {
	%>
		<% if (selectedOption == partyClassification.attributes.id) { %>
	<option value="<%=partyClassification.id%>" selected="selected" ><%=partyClassification.attributes.code%></option>
		<% } else {%>
	<option value="<%=partyClassification.id%>" ><%=partyClassification.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>