<div id="entity-search-dialog-div"></div>
<!-- Content -->
<div class="widget widget-table">
    
    <div class="widget-header">
        <span class="icon-list-alt"></span>
        <h3>
            <%= model.displayNm %> 
            <%= entities_strings.alantra_label_list %> 
            (<%= model.data.length %>)

        </h3>
        

        <div class="pull-right" style="padding-right:10px;">

        	<a id="delete-activity-button" class="btn btn-danger" href=""><%= entities_strings.alantra_label_delete %></a>

        	<a id="search-activity-button" class="btn btn-primary" href=""><%= entities_strings.alantra_label_search %></a>

        	<a id="create-activity-button" class="btn btn-primary" href=""><%= entities_strings.alantra_label_create %></a>
    	</div>
    </div> <!-- .widget-header -->
    
    <div class="widget-content scrollable-main-content">
        <table class="table table-bordered table-striped">
            
            <thead>
                <tr>   
                <th><input id="table-header-checkbox" type="checkbox"></th>
            <%
            _.each(model.fields, function (field) {
            %>  
                <% if  (field.name == "id") { %> 
                <% } else if  (field.name == "lastModifiedDt") { %>
                <% } else if  (field.name == "lastModifiedUsr") { %>
                <% } else if  (field.name == "createdDt") { %>
                <% } else { %> 
                    <th>
                        <div class="hideextra" style="width:150px"><%=field.description%></div>
                    </th>  
                <% }  %>

            <% }); %>                           
                </tr>
            </thead> 

    
            <tbody>
           <%
	        _.each(model.data, function (activity) {
	        %>     
	        <tr>
                <td class="description">
                	<input class="delete-activity-checkbox" type="checkbox" value="<%=activity.id%>">
                </td> 
                <%
                _.each(model.fields, function (field) {
                %>  
                    <% if  (field.fieldTypeCode == "RELATIONSHIP") { %>                      
                    <td class="td-actions">
                        <div class="hideextra" style="width:150px">
                            <a href="#view/<%=model.activityUrl%>/<%=activity.id%>">
                                <%= activity[field.name + 'Text'] ? activity[field.name+ 'Text'] : '' %>
                            </a>
                        </div>
                    </td>  
                    <% } else { %> 
                        <!-- Filter fields --> 
                        <% if  (field.name == "id") { %> 
                        <% } else if  (field.name == "lastModifiedDt") { %>
                        <% } else if  (field.name == "lastModifiedUsr") { %>
                        <% } else if  (field.name == "createdDt") { %> 
                        <% } else { %> 
                    <td class="td-actions">
                        <div class="hideextra" style="width:150px">
                            <a href="#view/<%=model.activityUrl%>/<%=activity.id%>">
                                <%= activity[field.name] ? activity[field.name] : '' %>
                            </a>
                        </div>
                    </td>   
                        <% }  %>   <!-- End if -->                  
                     
                    <% }  %>    <!-- End if --> 
                <% }); %>  
            </tr>  
	        <% }); %>                      
        	</tbody>
    	</table>
        
    </div> <!-- .widget-content -->
    
</div> <!-- /widget --> 
