<label for="partyRoleTypeSelect"><%= entities_strings.partyroletype %></label>
<select name="<%=relatedFieldName%>" id="partyRoleTypeSelect">
	<option value=""></option>
	<%
	_.each(model.models, function (partyRoleType) {
	%>
		<% if (selectedOption == partyRoleType.attributes.id) { %>
	<option value="<%=partyRoleType.id%>" selected="selected" ><%=partyRoleType.attributes.code%></option>
		<% } else {%>
	<option value="<%=partyRoleType.id%>" ><%=partyRoleType.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>