<label for="productFeatureApplicabilitySelect"><%= entities_strings.productfeatureapplicability %></label>
<select name="<%=relatedFieldName%>" id="productFeatureApplicabilitySelect">
	<option value="--"></option>
	<%
	_.each(model.models, function (productFeatureApplicability) {
	%>
		<% if (selectedOption == productFeatureApplicability.attributes.id) { %>
	<option value="<%=productFeatureApplicability.id%>" selected="selected" ><%=productFeatureApplicability.attributes.code%></option>
		<% } else {%>
	<option value="<%=productFeatureApplicability.id%>" ><%=productFeatureApplicability.attributes.code%></option>
		<% } %>	
	<% }); %>
</select>