<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= postaladdress ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-postaladdress-form">
								    <fieldset>
								    	<legend><%= entities_strings.postaladdress %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<!-- contactMechanism. -->
												<div id="contactMechanismSelectContainerDiv" class="span6">
	            								</div>
												<% if (postaladdress) { %>
												<!-- address1. -->
						            			<div class="span6">
						            				<label for="address1"><%= entities_strings.postaladdress_address1 %></label>
													<input type="text" id="address1" value="<%= postaladdress.get('address1') ? postaladdress.get('address1') : '' %>" name="address1" placeholder="<%= entities_strings.postaladdress_address1 %>">
												</div>		
												<% } else {%>
												<!-- address1. -->
						            			<div class="span6">
						            				<label for="address1"><%= entities_strings.postaladdress_address1 %></label>
													<input type="text" id="address1" name="address1" value="" placeholder="<%= entities_strings.postaladdress_address1 %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (postaladdress) { %>
												<!-- address2. -->
						            			<div class="span6">
						            				<label for="address2"><%= entities_strings.postaladdress_address2 %></label>
													<input type="text" id="address2" value="<%= postaladdress.get('address2') ? postaladdress.get('address2') : '' %>" name="address2" placeholder="<%= entities_strings.postaladdress_address2 %>">
												</div>		
												<% } else {%>
												<!-- address2. -->
						            			<div class="span6">
						            				<label for="address2"><%= entities_strings.postaladdress_address2 %></label>
													<input type="text" id="address2" name="address2" value="" placeholder="<%= entities_strings.postaladdress_address2 %>">
												</div>		
												<% } %>									
												<% if (postaladdress) { %>
												<!-- directions. -->
						            			<div class="span6">
						            				<label for="directions"><%= entities_strings.postaladdress_directions %></label>
													<input type="text" id="directions" value="<%= postaladdress.get('directions') ? postaladdress.get('directions') : '' %>" name="directions" placeholder="<%= entities_strings.postaladdress_directions %>">
												</div>		
												<% } else {%>
												<!-- directions. -->
						            			<div class="span6">
						            				<label for="directions"><%= entities_strings.postaladdress_directions %></label>
													<input type="text" id="directions" name="directions" value="" placeholder="<%= entities_strings.postaladdress_directions %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (postaladdress) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.postaladdress_description %></label>
													<input type="text" id="description" value="<%= postaladdress.get('description') ? postaladdress.get('description') : '' %>" name="description" placeholder="<%= entities_strings.postaladdress_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.postaladdress_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.postaladdress_description %>">
												</div>		
												<% } %>									
											<!-- postalAddressBoundries. 
											<div class="row-fluid">
						            			<div class="span12">
													<input type="text" id="postalAddressBoundries" placeholder="One to Many postalAddressBoundries">
												</div>
											</div> -->
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (postaladdress) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.postaladdress_code %></label>
													<input type="text" id="code" value="<%= postaladdress.get('code') ? postaladdress.get('code') : '' %>" name="code" placeholder="<%= entities_strings.postaladdress_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.postaladdress_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.postaladdress_code %>">
												</div>		
												<% } %>									
												<% if (postaladdress) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.postaladdress_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= postaladdress.get('effectiveDt') ? postaladdress.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.postaladdress_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												
												<!-- recSt. -->
						            			<div class="span12">
						            				<label for="recSt"><%= entities_strings.postaladdress_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-postaladdress"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






