<label for="invoiceStatusTypeSelect"><%= fieldName %></label>
<select name="<%=relatedFieldName%>" id="invoiceStatusTypeSelect">
	<option value=""></option>
	<!-- For each -->
	<%
	_.each(model.models, function (invoiceStatusType) {
	%>
		<% if (selectedOption == invoiceStatusType.attributes.id) { %>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=invoiceStatusType.id%>" selected="selected" >
					<%=invoiceStatusType.attributes.code%>
				</option>
			<% } else {%>
				<option value="<%=invoiceStatusType.attributes.code%>" selected="selected" >
					<%=invoiceStatusType.attributes.code%>
				</option>
			<% } %>	
		<% } else {%>
			<!-- Depending on the value of idField we either use the id or code field-->
			<% if (idField == 'id') { %>
				<option value="<%=invoiceStatusType.id%>" ><%=invoiceStatusType.attributes.code%></option>
			<% } else {%>
				<option value="<%=invoiceStatusType.attributes.code%>" ><%=invoiceStatusType.attributes.code%></option>
			<% } %>	
		<% } %>	
	<% }); %> 
	<!-- End for each -->
</select>
