<div class="widget widget-table action-table">
                            
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3><%= uomconversion ? 'Edit' : 'Create' %></h3>
                        </div> <!-- /widget-header -->
                        
                        <div class="widget-content">
                            <div class="container-fluid form-container">
	                            <form id="edit-uomconversion-form">
								    <fieldset>
								    	<legend><%= entities_strings.uomconversion %></legend>
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (uomconversion) { %>
												<!-- fromUomId. -->
						            			<div class="span6">
						            				<label for="fromUomId"><%= entities_strings.uomconversion_fromuomid %></label>
													<input type="text" id="fromUomId" value="<%= uomconversion.get('fromUomId') ? uomconversion.get('fromUomId') : '' %>" name="fromUomId" placeholder="<%= entities_strings.uomconversion_fromuomid %>">
												</div>		
												<% } else {%>
												<!-- fromUomId. -->
						            			<div class="span6">
						            				<label for="fromUomId"><%= entities_strings.uomconversion_fromuomid %></label>
													<input type="text" id="fromUomId" name="fromUomId" value="" placeholder="<%= entities_strings.uomconversion_fromuomid %>">
												</div>		
												<% } %>									
												<% if (uomconversion) { %>
												<!-- toUomId. -->
						            			<div class="span6">
						            				<label for="toUomId"><%= entities_strings.uomconversion_touomid %></label>
													<input type="text" id="toUomId" value="<%= uomconversion.get('toUomId') ? uomconversion.get('toUomId') : '' %>" name="toUomId" placeholder="<%= entities_strings.uomconversion_touomid %>">
												</div>		
												<% } else {%>
												<!-- toUomId. -->
						            			<div class="span6">
						            				<label for="toUomId"><%= entities_strings.uomconversion_touomid %></label>
													<input type="text" id="toUomId" name="toUomId" value="" placeholder="<%= entities_strings.uomconversion_touomid %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (uomconversion) { %>
												<!-- conversionFactor. -->
						            			<div class="span6">
						            				<label for="conversionFactor"><%= entities_strings.uomconversion_conversionfactor %></label>
													<input type="text" id="conversionFactor" value="<%= uomconversion.get('conversionFactor') ? uomconversion.get('conversionFactor') : '' %>" name="conversionFactor" placeholder="<%= entities_strings.uomconversion_conversionfactor %>">
												</div>		
												<% } else {%>
												<!-- conversionFactor. -->
						            			<div class="span6">
						            				<label for="conversionFactor"><%= entities_strings.uomconversion_conversionfactor %></label>
													<input type="text" id="conversionFactor" name="conversionFactor" value="" placeholder="<%= entities_strings.uomconversion_conversionfactor %>">
												</div>		
												<% } %>									
												<% if (uomconversion) { %>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.uomconversion_code %></label>
													<input type="text" id="code" value="<%= uomconversion.get('code') ? uomconversion.get('code') : '' %>" name="code" placeholder="<%= entities_strings.uomconversion_code %>">
												</div>		
												<% } else {%>
												<!-- code. -->
						            			<div class="span6">
						            				<label for="code"><%= entities_strings.uomconversion_code %></label>
													<input type="text" id="code" name="code" value="" placeholder="<%= entities_strings.uomconversion_code %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (uomconversion) { %>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.uomconversion_name %></label>
													<input type="text" id="name" value="<%= uomconversion.get('name') ? uomconversion.get('name') : '' %>" name="name" placeholder="<%= entities_strings.uomconversion_name %>">
												</div>		
												<% } else {%>
												<!-- name. -->
						            			<div class="span6">
						            				<label for="name"><%= entities_strings.uomconversion_name %></label>
													<input type="text" id="name" name="name" value="" placeholder="<%= entities_strings.uomconversion_name %>">
												</div>		
												<% } %>									
												<% if (uomconversion) { %>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.uomconversion_description %></label>
													<input type="text" id="description" value="<%= uomconversion.get('description') ? uomconversion.get('description') : '' %>" name="description" placeholder="<%= entities_strings.uomconversion_description %>">
												</div>		
												<% } else {%>
												<!-- description. -->
						            			<div class="span6">
						            				<label for="description"><%= entities_strings.uomconversion_description %></label>
													<input type="text" id="description" name="description" value="" placeholder="<%= entities_strings.uomconversion_description %>">
												</div>		
												<% } %>									
												
												
											</div> 
											<!-- Start field block. -->
											<div class="row-fluid">
												<% if (uomconversion) { %>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.uomconversion_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="<%= uomconversion.get('effectiveDt') ? uomconversion.get('effectiveDt') : '' %>" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } else {%>
												<!-- effectiveDt. -->
						            			<div class="span6">
						            				<label for="effectiveDt"><%= entities_strings.uomconversion_effectivedt %></label>
						            				<div class="date-picker input-append date" data-date-format="dd-mm-yyyy">
													    <input id="effectiveDt" name="effectiveDt" type="text" value="" placeholder="" readonly></input>
													    <span class="add-on">
													    	<i class="icon-th"></i>
													    </span>
													</div>
												</div>
												<% } %>
												<!-- recSt. -->
						            			<div class="span6">
						            				<label for="recSt"><%= entities_strings.uomconversion_recst %></label>
						            				<select id="recSt" name="recSt">
						            					<option value="A">Active</option>
						            				</select>
												</div>
												
												
											</div> 
								    	
									    <button type="submit" class="btn btn-primary"><%= entities_strings.alantra_label_submit %></button>
									    <a class="btn" href="#list-uomconversion"><%= entities_strings.alantra_label_cancel %></a>
								    </fieldset>
							    </form>
						    </div> <!-- /form container -->
                            
                        </div> <!-- /widget-content -->
                    
                    </div> <!-- /widget -->






